.bg-primary {
  background-color: #c9a664 !important;
}

.bg-gray-200 {
  background-color: #2c2e36 !important;
}

.bg-gray-300 {
  background-color: #181b20 !important;
}

.text-primary {
  color: #c9a664 !important;
}

.text-gray-100 {
  color: #9b9fa6 !important;
}

.btn {
  font-weight: 400;
  padding: 10px 35px;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary {
  color: #ffffff;
  background-color: #c9a664;
  box-shadow: none;
  border: 1px solid #c9a664;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.active {
  color: #c9a664;
  background-color: #ffffff;
  border: 1px solid #c9a664;
}

.row-gap-20 {
  row-gap: 20px;
}

@font-face {
  font-family: "AbhayaLibre";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/AbhayaLibre-Medium.ttf?2fa6e039eeadd1a45295d67fec2e5ef5) format("truetype");
  font-display: swap;
}
.link-info {
  color: #c9a664 !important;
}

.fs-24 {
  font-size: 24px !important;
}
@media (max-width: 575px) {
  .fs-24 {
    font-size: 20px !important;
  }
}

.fs-16 {
  font-size: 16px;
}
@media (max-width: 575px) {
  .fs-16 {
    font-size: 14px !important;
  }
}

body {
  font-family: "Poppins";
  font-weight: 400;
  padding: 10px 0;
  background-color: #cfcfcf;
}
body.modal-open {
  padding-right: 0 !important;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 575px) {
  .px-30 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

.banner-section .banner-img {
  position: relative;
  height: 300px;
  width: 100%;
}
@media (max-width: 575px) {
  .banner-section .banner-img {
    height: 275px;
  }
}
.banner-section .banner-img .overlay {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(rgba(2, 7, 14, 0), #02070e);
}

.profile-section {
  position: relative;
  padding-top: 236px;
  bottom: 0;
}
@media (max-width: 575px) {
  .profile-section {
    padding-top: 170px;
  }
}
.profile-section .card {
  position: relative;
  background-color: transparent !important;
  border: none;
}
.profile-section .card .card-img {
  border-radius: 30px;
  min-width: 180px;
  width: 180px;
  height: 180px;
  border: 2px solid #ffffff;
  overflow: hidden;
  z-index: 9;
}
@media (max-width: 575px) {
  .profile-section .card .card-img {
    margin-right: 0;
  }
}
.profile-section .card .card-body {
  padding-bottom: 0;
}
.profile-section .card .card-body .profile-name {
  position: relative;
}
.profile-section .social-media .social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.profile-section .social-media .social-media-icons .social-icon {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 10px;
  background-color: #2c2e36;
  border: 1px solid #5a5a5a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-section .social-media .social-media-icons .social-icon a {
  display: flex;
  color: #ffffff;
}
.profile-section .social-media .social-media-icons .social-icon a svg,
.profile-section .social-media .social-media-icons .social-icon a img {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  color: #ffffff;
  font-size: 20px;
}
.profile-section .social-media .social-media-icons .social-icon:hover {
  background-color: #c9a664;
  border: 1px solid #c9a664;
}

.section-heading {
  font-family: "AbhayaLibre";
}
.section-heading h2 {
  font-size: 36px;
  font-weight: 400;
  position: relative;
  display: inline-block;
}
@media (max-width: 575px) {
  .section-heading h2 {
    font-size: 32px;
  }
}
.section-heading h2:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 33%;
  height: 3px;
  border-radius: 3px;
  background-color: #c9a664;
}

.contact-section {
  position: relative;
}
.contact-section .contact-bg-img {
  position: absolute;
  text-align: end;
  top: -30px;
  right: 0;
}
@media (max-width: 575px) {
  .contact-section .contact-bg-img img {
    width: 60%;
  }
}
.contact-section .contact-box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d2e36;
  border-radius: 15px;
  position: relative;
}
.contact-section .contact-box::after, .contact-section .contact-box::before {
  position: absolute;
  content: " ";
  width: 60px;
  height: 60px;
  border-style: solid;
  border-color: #c9a664;
}
.contact-section .contact-box::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 18px;
  border-width: 1px 0 0 1px;
}
.contact-section .contact-box::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 18px;
  border-width: 0 1px 1px 0;
}
.contact-section .contact-box .contact-icon {
  width: 36px;
  min-width: 36px;
  height: 36px;
  background-color: #2c2e36;
  border: 1px solid #5a5a5a;
  border-radius: 10px;
  margin-bottom: 10px;
}
.contact-section .contact-box .contact-desc a {
  word-break: break-all;
}

.gallery-section {
  position: relative;
}
.gallery-section .gallery-bg-img {
  position: absolute;
  text-align: end;
  top: 20px;
  right: 30px;
}
@media (max-width: 575px) {
  .gallery-section .gallery-bg-img {
    top: 25px;
    right: 20px;
  }
}
@media (max-width: 575px) {
  .gallery-section .gallery-bg-img img {
    width: 60%;
  }
}
.gallery-section .gallery-slider .slick-slide {
  padding: 10px;
}
.gallery-section .gallery-slider .gallery-img, .gallery-section .gallery-slider .gallery-item {
  margin: 0 auto;
  max-width: 100%;
  max-height: 310px;
  height: 310px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2c2e36;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
.gallery-section .gallery-slider .gallery-img::after, .gallery-section .gallery-slider .gallery-img::before, .gallery-section .gallery-slider .gallery-item::after, .gallery-section .gallery-slider .gallery-item::before {
  position: absolute;
  content: " ";
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #c9a664;
}
.gallery-section .gallery-slider .gallery-img::before, .gallery-section .gallery-slider .gallery-item::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 23px;
  border-width: 1px 0 0 1px;
}
.gallery-section .gallery-slider .gallery-img::after, .gallery-section .gallery-slider .gallery-item::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 23px;
  border-width: 0 1px 1px 0;
}
@media (max-width: 500px) {
  .gallery-section .gallery-slider .gallery-img, .gallery-section .gallery-slider .gallery-item {
    max-height: 240px;
    height: 240px;
  }
}
.gallery-section .gallery-slider .gallery-img img,
.gallery-section .gallery-slider .gallery-img iframe, .gallery-section .gallery-slider .gallery-item img,
.gallery-section .gallery-slider .gallery-item iframe {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.gallery-section .gallery-slider .slick-dots {
  position: relative;
  bottom: -15px;
}

.our-services-section {
  position: relative;
}
.our-services-section .services-bg-img {
  position: absolute;
  top: 0;
  left: 30px;
}
@media (max-width: 575px) {
  .our-services-section .services-bg-img {
    left: 20px;
  }
}
@media (max-width: 575px) {
  .our-services-section .services-bg-img img {
    width: 60%;
  }
}
.our-services-section .services .service-card {
  padding: 25px;
  border-radius: 20px;
  border: 0;
  background-color: #2c2e36;
  position: relative;
}
.our-services-section .services .service-card::after, .our-services-section .services .service-card::before {
  position: absolute;
  content: " ";
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #c9a664;
}
.our-services-section .services .service-card::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 23px;
  border-width: 1px 0 0 1px;
}
.our-services-section .services .service-card::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 23px;
  border-width: 0 1px 1px 0;
}
.our-services-section .services .service-card .card-img {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #5a5a5a;
}
.our-services-section .services .service-card .card-body .card-desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.our-services-section .services .services-slider-view .slick-list {
  height: 180px !important;
  padding-top: 5px !important;
}
@media (max-width: 500px) {
  .our-services-section .services .services-slider-view .slick-list {
    height: 250px !important;
  }
}
.our-services-section .services .services-slider-view .service-card {
  border-radius: 10px;
  min-height: 160px;
  max-height: 180px;
  overflow-y: auto;
  background-color: #c9a664;
  color: #ffffff;
  padding: 20px;
}
.our-services-section .services .services-slider-view .service-card .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 6px;
  color: #ffffff;
}
.our-services-section .services .services-slider-view .service-card .description-text {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 500px) {
  .our-services-section .services .services-slider-view .service-card .description-text {
    -webkit-line-clamp: 3;
  }
}
.our-services-section .services .services-slider-view .service-card .img {
  width: -moz-fit-content;
  width: fit-content;
  display: inline;
  float: left;
}
.our-services-section .services .services-slider-view .service-card .img img {
  border-radius: 20px !important;
  width: 120px;
  height: 120px;
  margin-right: 10px;
}
@media (max-width: 500px) {
  .our-services-section .services .services-slider-view .service-card .img img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 500px) {
  .our-services-section .services .services-slider-view .service-card {
    min-height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
.our-services-section .services .services-slider-view .slick-list .slick-slide {
  margin: 0 15px;
}
.our-services-section .services .services-slider-view .slick-dots {
  bottom: -20px !important;
}

.testimonial-section {
  position: relative;
}
.testimonial-section .testimonial-bg-img {
  position: absolute;
  text-align: end;
  top: 0px;
  right: 25px;
  z-index: 3;
}
@media (max-width: 575px) {
  .testimonial-section .testimonial-bg-img {
    right: 20px;
  }
}
@media (max-width: 575px) {
  .testimonial-section .testimonial-bg-img img {
    width: 60%;
  }
}
.testimonial-section .testimonial-slider {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 2;
}
.testimonial-section .testimonial-slider .testimonial-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.testimonial-section .testimonial-slider:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  background-image: linear-gradient(#1f1f21, rgba(31, 31, 33, 0));
}
.testimonial-section .testimonial-slider::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 120px;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image: linear-gradient(rgba(31, 31, 33, 0), #1f1f21);
}
.testimonial-section .testimonial-slider .testimonial-card {
  position: relative;
  margin: 35px auto 0 auto;
  background-color: #2c2e36;
  border-radius: 20px;
  padding: 46px 20px 20px 20px;
}
.testimonial-section .testimonial-slider .testimonial-card::after, .testimonial-section .testimonial-slider .testimonial-card::before {
  position: absolute;
  content: " ";
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #c9a664;
}
.testimonial-section .testimonial-slider .testimonial-card::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 23px;
  border-width: 1px 0 0 1px;
}
.testimonial-section .testimonial-slider .testimonial-card::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 23px;
  border-width: 0 1px 1px 0;
}
.testimonial-section .testimonial-slider .testimonial-card .card-img {
  width: 60px;
  height: 60px;
  min-width: 60px;
  border-radius: 10px;
  border: 1px solid #5a5a5a;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -32px;
  overflow: hidden;
}
.testimonial-section .testimonial-slider .testimonial-card .card-body p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.testimonial-section .slick-prev,
.testimonial-section .slick-next {
  position: absolute;
  opacity: 1 !important;
  width: 40px;
  z-index: 2;
  top: 55%;
}
@media (max-width: 575px) {
  .testimonial-section .slick-prev,
.testimonial-section .slick-next {
    display: none;
  }
}
.testimonial-section .slick-next {
  right: 40px;
}
@media (max-width: 768px) {
  .testimonial-section .slick-next {
    right: 20px;
  }
}
.testimonial-section .slick-next:before {
  opacity: 1 !important;
}
.testimonial-section .slick-prev {
  left: 40px;
}
@media (max-width: 768px) {
  .testimonial-section .slick-prev {
    left: 20px;
  }
}
.testimonial-section .slick-prev:before {
  opacity: 1 !important;
}

.product-section {
  position: relative;
}
.product-section .product-bg-img {
  position: absolute;
  top: 40px;
  left: 25px;
}
@media (max-width: 575px) {
  .product-section .product-bg-img {
    top: 30px;
    left: 20px;
  }
}
@media (max-width: 575px) {
  .product-section .product-bg-img img {
    width: 60%;
  }
}
.product-section .product-slider .slick-list {
  padding-top: 40px;
  padding-bottom: 20px;
}
.product-section .product-slider .product-card {
  background-color: #2c2e36;
  max-width: 243px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: none;
  padding: 25px;
  min-height: 230px !important;
  position: relative;
}
.product-section .product-slider .product-card::after, .product-section .product-slider .product-card::before {
  position: absolute;
  content: " ";
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #c9a664;
}
.product-section .product-slider .product-card::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 23px;
  border-width: 1px 0 0 1px;
}
.product-section .product-slider .product-card::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 23px;
  border-width: 0 1px 1px 0;
}
.product-section .product-slider .product-card .product-desc {
  min-height: 120px;
}
.product-section .product-slider .product-card .product-img {
  width: 140px;
  height: 140px;
  min-width: 140px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  overflow: hidden;
  margin: 0 auto 20px auto;
}
.product-section .product-slider .product-card .product-img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.product-section .product-slider .product-card .product-desc h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-section .product-slider .product-card .product-desc p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.appointment-section {
  position: relative;
}
.appointment-section .appointment-bg-img {
  position: absolute;
  text-align: end;
  top: 60px;
  right: 30px;
}
@media (max-width: 575px) {
  .appointment-section .appointment-bg-img {
    top: 80px;
    right: 20px;
  }
}
@media (max-width: 575px) {
  .appointment-section .appointment-bg-img img {
    width: 60%;
  }
}
.appointment-section .appointment .date-input::after, .appointment-section .appointment .date-input::before {
  position: absolute;
  content: " ";
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: #c9a664;
}
.appointment-section .appointment .date-input::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 15px;
  border-width: 1px 0 0 1px;
}
.appointment-section .appointment .date-input::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 15px;
  border-width: 0 1px 1px 0;
}
.appointment-section .appointment .appointment-input {
  width: 100%;
  height: 50px;
  padding: 12px 25px;
  background-color: #2c2e36;
  border: 1px solid #2c2e36;
  border-radius: 10px;
  color: #ffffff;
  position: relative;
}
.appointment-section .appointment .appointment-input::-moz-placeholder {
  color: #ffffff;
}
.appointment-section .appointment .appointment-input::placeholder {
  color: #ffffff;
}
.appointment-section .appointment .appointment-input:focus {
  box-shadow: none;
  outline: none;
}
.appointment-section .appointment .calendar-icon {
  position: absolute;
  right: 18px;
  top: 11px;
}
.appointment-section .appointment .appoint-input {
  position: relative;
}
.appointment-section .appointment .appoint-input::after, .appointment-section .appointment .appoint-input::before {
  position: absolute;
  content: " ";
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: #c9a664;
}
.appointment-section .appointment .appoint-input::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 15px;
  border-width: 1px 0 0 1px;
}
.appointment-section .appointment .appoint-input::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 15px;
  border-width: 0 1px 1px 0;
}

.blog-section .blog-slider .slick-slide {
  padding: 10px;
}
.blog-section .blog-slider .blog-card {
  border: none;
  background-color: #2c2e36;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
.blog-section .blog-slider .blog-card::after, .blog-section .blog-slider .blog-card::before {
  position: absolute;
  content: " ";
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #c9a664;
}
.blog-section .blog-slider .blog-card .blog-des {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.2;
}
.blog-section .blog-slider .blog-card .blog-des ul, .blog-section .blog-slider .blog-card .blog-des pre, .blog-section .blog-slider .blog-card .blog-des blockquote, .blog-section .blog-slider .blog-card .blog-des h1, .blog-section .blog-slider .blog-card .blog-des h2, .blog-section .blog-slider .blog-card .blog-des h3, .blog-section .blog-slider .blog-card .blog-des h4, .blog-section .blog-slider .blog-card .blog-des h5, .blog-section .blog-slider .blog-card .blog-des h6, .blog-section .blog-slider .blog-card .blog-des p {
  margin-bottom: 0;
  padding-left: 0;
}
.blog-section .blog-slider .blog-card::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 23px;
  border-width: 1px 0 0 1px;
}
.blog-section .blog-slider .blog-card::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 23px;
  border-width: 0 1px 1px 0;
}
.blog-section .blog-slider .blog-card .card-img {
  width: 100%;
  height: 240px;
  border-radius: 20px;
  border: 1px solid #2c2e36;
  overflow: hidden;
}
.blog-section .blog-slider .blog-card .card-body {
  min-height: 145px;
  overflow: hidden;
}
.blog-section .blog-slider .blog-card .card-body .blog-head {
  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.business-hour-section {
  position: relative;
}
.business-hour-section .hour-bg-img {
  position: absolute;
  text-align: end;
  bottom: -20px;
  right: 10px;
}
@media (max-width: 575px) {
  .business-hour-section .hour-bg-img img {
    width: 60%;
  }
}
.business-hour-section .business-hours {
  padding: 10px;
  background-color: #2c2e36;
  border-radius: 10px;
  position: relative;
}
.business-hour-section .business-hours::after, .business-hour-section .business-hours::before {
  position: absolute;
  content: " ";
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: #c9a664;
}
.business-hour-section .business-hours::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 13px;
  border-width: 1px 0 0 1px;
}
.business-hour-section .business-hours::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 13px;
  border-width: 0 1px 1px 0;
}
.business-hour-section .business-hours span {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}
@media (max-width: 575px) {
  .business-hour-section .business-hours span {
    font-size: 14px;
  }
}

.qr-code-section {
  position: relative;
}
.qr-code-section .qr-code-bg-img {
  position: absolute;
  top: 80px;
  left: 0;
}
@media (max-width: 575px) {
  .qr-code-section .qr-code-bg-img img {
    width: 60%;
  }
}
.qr-code-section .qr-code {
  width: 180px;
  height: 180px;
  min-width: 180px;
  border-radius: 20px;
  background-color: #2d2e36;
  position: relative;
}
.qr-code-section .qr-code::after, .qr-code-section .qr-code::before {
  position: absolute;
  content: " ";
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #c9a664;
}
.qr-code-section .qr-code::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 23px;
  border-width: 1px 0 0 1px;
}
.qr-code-section .qr-code::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 23px;
  border-width: 0 1px 1px 0;
}
.qr-code-section .qr-code .qr-code-img {
  width: 120px;
  height: 120px;
  min-width: 120px;
}

.contact-us-section {
  position: relative;
  padding-bottom: 60px;
}
.contact-us-section .contact-us-bg-img {
  position: absolute;
  top: 30px;
  left: 25px;
}
@media (max-width: 575px) {
  .contact-us-section .contact-us-bg-img {
    left: 5px;
  }
}
@media (max-width: 575px) {
  .contact-us-section .contact-us-bg-img img {
    width: 60%;
  }
}
.contact-us-section .contact-form {
  padding: 30px 25px;
  border-radius: 15px;
  background-color: #2c2e36;
  position: relative;
}
.contact-us-section .contact-form::after, .contact-us-section .contact-form::before {
  position: absolute;
  content: " ";
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #c9a664;
}
.contact-us-section .contact-form::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 23px;
  border-width: 1px 0 0 1px;
}
.contact-us-section .contact-form::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 23px;
  border-width: 0 1px 1px 0;
}
.contact-us-section .contact-form form .form-control {
  background-color: transparent;
  padding: 0;
  height: 50px;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #c9a664;
  color: #9b9fa6;
}
.contact-us-section .contact-form form .form-control::-moz-placeholder {
  color: #9b9fa6;
}
.contact-us-section .contact-form form .form-control::placeholder {
  color: #9b9fa6;
}
.contact-us-section .contact-form form .form-control:focus {
  box-shadow: none;
  outline: none;
}

.create-vcard-section .vcard-link-card {
  background-color: #2c2e36;
  padding: 20px;
  border-radius: 15px;
  border: none;
  position: relative;
}
.create-vcard-section .vcard-link-card::after, .create-vcard-section .vcard-link-card::before {
  position: absolute;
  content: " ";
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: #c9a664;
}
.create-vcard-section .vcard-link-card::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 18px;
  border-width: 1px 0 0 1px;
}
.create-vcard-section .vcard-link-card::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 18px;
  border-width: 0 1px 1px 0;
}
.create-vcard-section .vcard-link-card .link-text {
  font-size: 18px;
  word-break: break-all;
}
@media (max-width: 575px) {
  .create-vcard-section .vcard-link-card .link-text {
    font-size: 16px;
  }
}

.add-to-contact-section {
  position: fixed;
  width: 100%;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 40px;
}

.add-contact-btn {
  width: 200px !important;
  width: 250px !important;
  height: 40px !important;
  margin: 0 auto;
  color: #ffffff;
  z-index: 9999;
  padding: 5px;
}
.add-contact-btn i {
  font-size: 1rem;
}

.btn-section .fixed-btn-section .food-services-bars-btn {
  background-color: #c9a664;
}
.btn-section .fixed-btn-section .sub-btn .food-services-sub-btn {
  background-color: #2c2e36;
}
.btn-section .fixed-btn-section .sub-btn .food-services-sub-btn i {
  color: #c9a664;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 575px) {
  .px-30 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}
@media (max-width: 575px) {
  .fs-18 {
    font-size: 16px;
  }
}

.fs-20 {
  font-size: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-40 {
  margin-top: 40px;
}
@media (max-width: 575px) {
  .mt-40 {
    margin-top: 30px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 575px) {
  .mb-40 {
    margin-bottom: 30px;
  }
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}
@media (max-width: 575px) {
  .mx-30 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pb-50 {
  padding-bottom: 50px;
}
@media (max-width: 575px) {
  .pb-50 {
    padding-bottom: 40px;
  }
}

.pt-40 {
  padding-top: 40px;
}
@media (max-width: 575px) {
  .pt-40 {
    padding-top: 25px;
  }
}

.pb-40 {
  padding-bottom: 40px;
}
@media (max-width: 575px) {
  .pb-40 {
    padding-bottom: 25px;
  }
}

.pt-60 {
  padding-top: 60px;
}
@media (max-width: 575px) {
  .pt-60 {
    padding-top: 40px;
  }
}

.pb-60 {
  padding-bottom: 60px;
}
@media (max-width: 575px) {
  .pb-60 {
    padding-bottom: 40px;
  }
}

.pt-30 {
  padding-top: 30px;
}
@media (max-width: 575px) {
  .pt-30 {
    padding-top: 20px;
  }
}

.pb-30 {
  padding-bottom: 30px;
}
@media (max-width: 575px) {
  .pb-30 {
    padding-bottom: 20px;
  }
}

.pt-50 {
  padding-top: 50px;
}
@media (max-width: 575px) {
  .pt-50 {
    padding-top: 40px;
  }
}

.pt-80 {
  padding-top: 80px;
}
@media (max-width: 575px) {
  .pt-80 {
    padding-top: 40px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}
@media (max-width: 575px) {
  .pb-80 {
    padding-bottom: 40px;
  }
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fs-12 {
  font-size: 12px;
}

.fs-36 {
  font-size: 36px;
}
@media (max-width: 575px) {
  .fs-36 {
    font-size: 30px;
  }
}

.fs-30 {
  font-size: 30px;
}
@media (max-width: 575px) {
  .fs-30 {
    font-size: 28px;
  }
}

.fs-28 {
  font-size: 28px;
}
@media (max-width: 575px) {
  .fs-28 {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
}

.main-content {
  max-width: 576px;
  min-height: 100vh;
  border-radius: 15px;
  position: relative;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-1 {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-section {
  position: absolute;
  top: 50%;
  right: 80px;
  z-index: 9;
}
.btn-section .fixed-btn-section {
  position: fixed;
  top: 50%;
  display: flex;
  align-items: center;
}
.btn-section .fixed-btn-section .bars-btn {
  width: 65px;
  height: 65px;
  min-width: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-section .fixed-btn-section .sub-btn {
  position: absolute;
  right: 75px;
  display: none;
}
.btn-section .fixed-btn-section .sub-btn .social-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-section .fixed-btn-section .sub-btn .social-btn i {
  font-size: 24px;
}

.send-btn {
  height: 40px;
  width: 250px !important;
}

.z-index-9 {
  z-index: 9;
}

.language ul {
  list-style: none;
}
.language ul .lang-list {
  padding: 5px 12px;
  background: #c9a664;
  border: none;
  outline: none;
  border-radius: 12px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.language ul .lang-list .lang-head {
  color: #ffffff;
}
.language ul .lang-list .lang-head i {
  color: #ffffff;
}
.language ul .lang-list .lang-hover-list {
  margin: 15px 0 0;
  font-size: 15px;
  width: 100%;
  left: unset !important;
  right: 0;
  min-width: 75px;
}
.language ul .lang-list .lang-hover-list li {
  padding: 5px 10px;
}
.language ul .lang-list .lang-hover-list li:hover, .language ul .lang-list .lang-hover-list li.active {
  background-color: #f7efe4 !important;
}
.language ul .lang-list .lang-hover-list li:hover a, .language ul .lang-list .lang-hover-list li.active a {
  color: #c9a664 !important;
}
.language ul .lang-list .lang-hover-list li a {
  color: #5e6278 !important;
  text-decoration: none;
  font-size: 14px;
}
.language ul .lang-list .lang-hover-list li img {
  height: 20px !important;
  width: 25px !important;
}

.vcard20-sticky-btn {
  background: #c9a664;
  color: #ffffff;
  border: 1px solid #c9a664;
  border-radius: 5px;
  height: 40px;
}

.vcard20-btn-group {
  width: 50px;
  height: 50px;
  color: #c9a664;
  background-color: #ffffff;
  border-radius: 50px !important;
}

.vcard-twenty.main-content {
  max-width: 576px;
  min-height: 100vh;
  text-align: center !important;
  background-color: #030712;
  color: #030712;
}
.vcard-twenty .vcard-twenty-heading {
  font-weight: 500;
  font-size: 28px;
  color: #c9a664;
}

.vcard-twenty-btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #c9a664;
  color: #f1faff;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}

.activeSlot {
  background: #c9a664 !important;
  color: #ffffff !important;
  padding: 11px;
  height: 50px;
  width: 100% !important;
  cursor: pointer;
}

.time-slot {
  background: #2c2e36;
  color: #ffffff !important;
  padding: 0px;
  height: 50px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.time-slot:hover {
  border: 1px solid #2c2e36;
}

.slick-dotted.slick-slider {
  margin-bottom: 10px;
}

.slick-dots {
  position: relative;
  bottom: -15px;
}
.slick-dots li {
  margin: 0 5px !important;
  width: 8px !important;
  height: 8px !important;
}
.slick-dots li button {
  width: 8px !important;
  height: 8px !important;
  font-size: 0 !important;
}
.slick-dots li button:before {
  font-size: 0 !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 10px;
  background-color: #667270;
}
.slick-dots li.slick-active {
  width: 30px !important;
}
.slick-dots li.slick-active button {
  width: 30px !important;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  width: 30px !important;
  background-color: #c9a664;
}

.z-index-10 {
  z-index: 10;
}

.product-btn {
  padding: 10px 20px;
  background: #c9a664;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.product-btn:hover {
  background-color: rgba(201, 166, 100, 0.9);
}

.product-box {
  margin: 15px;
  margin-bottom: 100px;
}

.product-amount {
  color: #c9a664;
}

.mw-75 {
  max-width: 75% !important;
}

@media (max-width: 580px) {
  .audio-control {
    margin-top: -45px !important;
  }
}

.modal-backdrop {
  background-color: transparent;
}

.modal {
  z-index: 99999 !important;
  background-color: #00000080;
}
.modal .news-modal #newsLatter-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.475rem;
  outline: 0;
  background-color: white;
}
.modal .news-modal #newsLatter-content .form-control {
  padding: 0.375rem 0.75rem !important;
  font-size: 0.875rem !important;
}
.modal .news-modal #newsLatter-content .newsmodal-header .btn-close {
  background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ADB5BD'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
  position: absolute !important;
  right: 16px !important;
  top: 16px !important;
  z-index: 1 !important;
}
.modal .news-modal #newsLatter-content .newsmodal-header .newsmodal-title {
  font-size: 50px;
  text-align: center !important;
  color: #c9a664;
}
.modal .news-modal #newsLatter-content .modal-body {
  padding: 1.75rem;
}
.modal .news-modal #newsLatter-content .modal-body .content {
  color: #c9a664;
  font-size: 23px;
}
.modal .news-modal #newsLatter-content .modal-body .modal-desc {
  color: silver;
  font-size: 16px;
  font-weight: 400;
}
.modal .news-modal #newsLatter-content .modal-body .email-input {
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content .modal-body .email-input .btn {
  padding: 5px 10px !important;
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content .modal-body .required:after {
  color: #f62947;
  content: "*";
  font-size: inherit;
  font-weight: 700;
  position: relative;
}
.modal .news-modal #newsLatter-content .modal-body .input-box {
  background-color: #f5f8fa;
  border: unset;
  color: #5e6278;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border-radius: 0.475rem;
}
.modal .news-modal #newsLatter-content .modal-body .input-box:focus {
  box-shadow: unset;
  background-color: #eef3f7;
}
.modal .news-modal #newsLatter-content .modal-body .input-group {
  margin-top: 15px;
}
.modal .news-modal #newsLatter-content .modal-footer {
  padding: 1.875rem;
  border-top: none !important;
}
.modal .news-modal #newsLatter-content .modal-footer .btn {
  padding: 10px 20px !important;
  border-radius: 0.475rem !important;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn {
  background-color: #6571ff !important;
  border: unset;
  outline: unset;
  color: #ffffff;
  padding: 10px 20px !important;
  margin-top: 26px;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn:hover {
  background-color: #6571ff !important;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn:focus {
  box-shadow: unset;
}

#email-send {
  background: #c9a664;
  color: white !important;
  font-size: 15px;
  border: none;
  border-radius: 8px;
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
.insta-feed {
  max-height: 1000px !important;
  overflow: scroll !important;
}

.insta-feed::-webkit-scrollbar {
  width: 0px;
  /* Adjust the width as needed */
}

.insta-feed::-webkit-scrollbar-thumb {
  background-color: #181b20 !important;
}

.insta-feed::-webkit-scrollbar-track {
  background-color: #181b20 !important;
}

.insta-feed-iframe iframe {
  border-radius: 15px !important;
  border: none !important;
  margin: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
  min-width: 1px !important;
}

.instagram-btn {
  flex: 1;
  position: relative;
  background: transparent;
}
.instagram-btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  background-color: #c9a664;
  transition: width 0.3s ease;
}
.instagram-btn.active::before {
  width: 80%;
}
.instagram-btn .svg-post-icon rect, .instagram-btn .svg-post-icon line {
  stroke: #c9a664;
}
.instagram-btn.active .svg-post-icon rect, .instagram-btn.active .svg-post-icon line {
  fill: #c9a664;
  stroke: #181a20;
}
.instagram-btn .svg-reels-icon .not-active-svg {
  display: block;
}
.instagram-btn .svg-reels-icon .active-svg {
  display: none;
}
.instagram-btn .svg-reels-icon path.not-active-svg, .instagram-btn .svg-reels-icon rect {
  fill: #c9a664;
}
.instagram-btn .svg-reels-icon path {
  fill: #c9a664;
}
.instagram-btn.active .svg-reels-icon .not-active-svg, .instagram-btn.active .svg-reels-icon rect {
  display: none;
}
.instagram-btn.active .svg-reels-icon .active-svg {
  display: block;
}

.insta-toggle {
  border-radius: 35px !important;
  margin: 10px !important;
  padding: 5px !important;
  transition: all 0.3s ease !important;
}

#instafeed-container a img {
  width: 44%;
  height: 200px !important;
  margin: 11px;
  border-radius: 15px;
}

.insta-feed-iframe {
  position: relative;
  padding: 10px;
  margin: 3px;
  background-color: #2d2e36;
  border-radius: 20px;
}
.insta-feed-iframe::after, .insta-feed-iframe::before {
  position: absolute;
  content: " ";
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #c9a664;
}
.insta-feed-iframe::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 23px;
  border-width: 1px 0 0 1px;
}
.insta-feed-iframe::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 23px;
  border-width: 0 1px 1px 0;
}

.support-banner {
  width: 100%;
  max-width: 520px;
  height: auto !important;
  position: fixed;
  bottom: 20px;
  z-index: 99999 !important;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 7px 8px 0 #848181, 0 0px 11px 0 #000000;
  margin-left: 32px;
  margin-right: 32px;
}
@media (max-width: 575px) {
  .support-banner {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.support-banner .support_heading {
  font-size: 27px;
  margin-top: 30px;
}
.support-banner .support_text {
  margin-bottom: 22px;
  max-height: 123px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 13px;
}
.support-banner .support_text::-webkit-scrollbar {
  width: 4px;
}
.support-banner .support_text::-webkit-scrollbar-track {
  background: transparent;
}
.support-banner .support_text::-webkit-scrollbar-thumb {
  background: #888;
}

@media (max-width: 767px) {
  .support-banner {
    max-width: 476px !important;
  }
}
@media (max-width: 575px) {
  .support-banner {
    max-width: 100% !important;
  }
}
.act-now {
  padding: 7px 21px;
  background: #c9a664;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  transform: translateY(0);
  text-decoration: none;
  color: white !important;
  position: relative;
  bottom: 10px;
  display: inline-block !important;
  border-radius: 15px;
}

.banner-close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 20px !important;
  background: none;
  border: none;
}

.iframe-slider .iframe-wrapper {
  border-radius: 20px;
  padding: 15px;
  position: relative;
  background-color: #2d2e36;
}
.iframe-slider .iframe-wrapper::after, .iframe-slider .iframe-wrapper::before {
  position: absolute;
  content: " ";
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #c9a664;
}
.iframe-slider .iframe-wrapper::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 23px;
  border-width: 1px 0 0 1px;
}
.iframe-slider .iframe-wrapper::after {
  right: -3px;
  bottom: -3px;
  border-bottom-right-radius: 23px;
  border-width: 0 1px 1px 0;
}
.iframe-slider .iframe-card {
  margin: 0 auto;
  width: 100%;
  height: 365px;
  overflow: hidden;
  border-radius: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  .iframe-slider .iframe-card {
    max-width: 315px;
    max-height: 200px;
    height: 200px;
  }
}
.iframe-slider .iframe-card iframe {
  background-color: white !important;
}
.iframe-slider .slick-dots {
  position: relative;
  bottom: -15px;
}

.verification-icon {
  color: #c9a664;
}

.main-content.rtl .ms-3 {
  margin-right: 1rem !important;
  margin-left: 0 !important;
}
.main-content.rtl .calendar-icon {
  left: 18px;
  right: auto;
}
@media (min-width: 576px) {
  .main-content.rtl .flex-sm-row {
    flex-direction: row-reverse !important;
  }
  .main-content.rtl .text-sm-start {
    text-align: right !important;
  }
}
.main-content.rtl .text-start {
  text-align: right !important;
}

.btn-section.rtl {
  right: auto !important;
  left: 15px !important;
}

.btn-section.rtl {
  right: auto !important;
  left: 15px !important;
}

.modal-content[dir=rtl] .pl-50 {
  padding-right: 50px;
}
.modal-content[dir=rtl] .text-center {
  text-align: start !important;
}
.modal-content[dir=rtl] .arrow {
  transform: rotate(180deg) !important;
}
.modal-content[dir=rtl] .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0.313rem !important;
  border-bottom-right-radius: 0.313rem !important;
}
.modal-content[dir=rtl] .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0.313rem !important;
  border-bottom-left-radius: 0.313rem !important;
}

.toast-title {
  margin-right: 12px;
}

.toast-message {
  margin-right: 12px;
}

.input-box {
  padding: 20px;
  display: grid;
  place-items: center;
  border-bottom: 1px solid #c9a664 !important;
  margin-bottom: 5px;
  cursor: pointer;
}

.input-box h4 {
  margin: 0;
  color: #abb1bd !important;
  font-size: medium !important;
}

.file-list li {
  color: #abb1bd !important;
}

.selected-files .item {
  border-bottom: 1px solid #c9a664 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.file-list .name {
  flex-grow: 1;
}

.file-list .remove {
  margin-left: 8px;
  cursor: pointer;
  color: red;
}

.file-list .remove svg {
  width: 16px;
  height: 16px;
}

.selected-files h5 {
  color: #ffffff !important;
  font-size: medium !important;
  margin-top: 9px !important;
  margin-bottom: 10px !important;
}

small {
  font-size: 12px;
  color: #abb1bd !important;
}

.file-list {
  overflow-y: auto;
  list-style-type: none !important;
  padding: 0 0 10px 0;
  margin: 0;
  max-height: 220px;
  font-size: medium !important;
}

.modal {
  padding-right: 0 !important;
}
.modal.show {
  padding-right: 0 !important;
}
.modal.show .modal-dialog {
  transform: translateY(35px) !important;
}
@media (min-width: 576px) {
  .modal.show .modal-dialog {
    margin: 2.5rem auto !important;
    max-width: 520px !important;
  }
}
.modal .modal-dialog {
  transform: translateY(95px) !important;
}
.modal .modal-dialog.modal-bottom {
  height: 87vh !important;
}

@media (min-width: 576px) {
  #newsLatterModal .modal-dialog {
    max-width: 420px !important;
    min-height: calc(100% - 5rem) !important;
    transform: none !important;
  }
}

.product-img-slider {
  min-height: 160px !important;
  margin-top: -80px !important;
  margin-bottom: 30px !important;
}
.product-img-slider .slick-list {
  padding: 0 !important;
}

.product-img-padding-20 {
  padding-top: 0 !important;
  position: relative;
}

.product-img-main-box {
  border-radius: 50%;
  min-height: 160px;
  height: 160px;
  left: 0;
  margin: 0 auto !important;
  min-width: 160px;
  right: 0;
  max-width: 160px;
}
.product-img-main-box img {
  border-radius: 50% !important;
}

.pwa-support {
  width: 100%;
  max-width: 400px;
  height: auto !important;
  position: fixed !important;
  bottom: 20px;
  z-index: 99999 !important;
  background: white;
  padding: 24px;
  border-radius: 32px;
  box-shadow: 0 7px 8px 0 #848181, 0 0px 11px 0 #000000;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.pwa-support .pwa-heading {
  font-size: 20px;
  margin-bottom: 12px;
}
.pwa-support .pwa-text {
  margin-bottom: 16px;
  font-size: 0.875rem !important;
}

.pwa-install-button {
  background: #c9a664 !important;
  color: #ffffff !important;
  border-radius: 15px !important;
  padding: 0.563rem 1.563rem !important;
  font-size: 0.875rem !important;
}
.pwa-install-button:hover {
  background: #c9a664;
}

.pwa-cancel-button {
  background-color: #adb5bd !important;
  color: #000000;
  border-radius: 15px !important;
  padding: 0.563rem 1.563rem;
  border: none !important;
  font-size: 0.875rem !important;
}
.pwa-cancel-button:hover {
  background-color: #d1d5db !important;
  border: none !important;
  color: #000000 !important;
}

.youtube-link-20 {
  padding-top: 56.25%;
  position: relative;
  z-index: 9 !important;
}
.youtube-link-20 iframe {
  position: absolute !important;
  top: 0;
  left: 0 !important;
  height: 100% !important;
  width: 100 !important;
}

.linkedin-feed {
  max-height: 1000px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.linkedin-feed-iframe {
  height: 500px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 10px;
  margin: 3px;
  position: relative;
}
.linkedin-feed-iframe::after, .linkedin-feed-iframe::before {
  position: absolute;
  content: " ";
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #c9a664;
}
.linkedin-feed-iframe::before {
  top: -3px;
  left: -3px;
  border-top-left-radius: 23px;
  border-width: 1px 0 0 1px;
}
.linkedin-feed-iframe::after {
  right: -3px;
  bottom: -23px;
  border-bottom-right-radius: 23px;
  border-width: 0 1px 1px 0;
}

.linkedin-feed-iframe iframe {
  width: calc(100% - 2px) !important;
  height: 500px !important;
  border: none;
  border-radius: 15px !important;
  transform-origin: top left;
  transform: scale(1);
}
