.bg-primary {
  background-color: #665d1e !important;
}

.bg-secondary {
  background-color: #e7e6db !important;
}

.text-primary {
  color: #665d1e !important;
}

.text-secondary {
  color: #e7e6db !important;
}

.max-w-fit {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.w-30 {
  width: 30%;
}

.vector-1 {
  top: 0;
  left: 0px;
}
.vector-1 img {
  width: 50px !important;
}

.vector-2 {
  top: 57%;
}

.vector-4 {
  right: 10px;
}

.vector-5 {
  left: 10px;
}

.vector-7 {
  top: 100px;
  left: 10px;
}

.vector-3 {
  top: 10px;
}

.vector-6 {
  right: 10px;
}

.vector-9 {
  top: 0;
  right: 10px;
}

.vector-10 {
  left: 10px;
}

.vector-12 {
  left: 10px;
}

.vector-11 {
  right: 10px;
}

.vector-13 {
  right: 10px;
}

.vector-14 {
  left: 10px;
  top: 10px;
}

.vector-15 {
  right: 10px;
  top: 4px;
}

.bg-vector img {
  width: 100%;
}
@media (max-width: 575px) {
  .bg-vector img {
    width: 60% !important;
  }
}

.terms-condition {
  min-width: 16px;
}

.product-btn {
  padding: 10px 20px;
  background-color: #665d1e;
  border: none;
  outline: none;
  border-radius: 30px;
  transition: all 0.3s ease;
  background-color: #665d1e;
  border: 1px solid #665d1e;
}
.product-btn:hover {
  background-color: transparent !important;
}
.product-btn:hover a {
  background-color: #ffffff !important;
  color: #665d1e !important;
}

.row-gap-20px {
  row-gap: 20px;
}

.fs-24 {
  font-size: 24px !important;
}
@media (max-width: 575px) {
  .fs-24 {
    font-size: 20px !important;
  }
}

.fs-16 {
  font-size: 16px;
}
@media (max-width: 575px) {
  .fs-16 {
    font-size: 14px !important;
  }
}

body {
  font-family: "Poppins";
  font-weight: 400 !important;
  padding-right: 0 !important;
  background-color: #e7e6db !important;
}
body.modal-open {
  padding-right: 0 !important;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 575px) {
  .px-40 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.section-heading {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
  margin-bottom: 24px;
  position: relative;
}
.section-heading h2 {
  font-size: 22px;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 8px 20px;
}
.section-heading h2:before {
  border-top: 3px solid #665d1e;
  position: absolute;
  content: "";
  border-right: 3px solid #665d1e;
  height: 100%;
  width: 22%;
  bottom: 0;
  right: -9px;
  border-top-right-radius: 10px;
}
.section-heading h2::after {
  border-bottom: 3px solid #665d1e;
  position: absolute;
  content: "";
  border-left: 3px solid #665d1e;
  height: 100%;
  width: 22%;
  top: 0;
  left: -9px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 575px) {
  .section-heading h2 {
    font-size: 16px;
  }
}
.section-heading span {
  border: 3px solid #665d1e;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  position: absolute;
  background: #665d1e;
  transform: skewX(20deg);
  z-index: -1;
}

.btn {
  border-radius: 0;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 30px;
}
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

@media (max-width: 576px) {
  .btn-icon {
    padding: 0;
  }
}
.btn-primary {
  box-shadow: none !important;
  color: #ffffff;
  background-color: #665d1e;
  border: 1px solid #665d1e;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.active {
  color: #665d1e;
  background-color: #ffffff;
  border-color: #665d1e;
}

.banner-section .banner-img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.banner-section .banner-img:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #25302e;
  opacity: 40%;
  left: 0;
  top: 0;
}
.banner-section .banner-img img {
  height: 320px;
}
@media (max-width: 575px) {
  .banner-section .banner-img img {
    height: 320px;
  }
}
@media (max-width: 475px) {
  .banner-section .banner-img img {
    height: 290px;
  }
}

.profile-section {
  position: relative;
  overflow: hidden;
}
.profile-section .profile-bg-img {
  top: -20px;
  right: 0;
  z-index: 1;
}
@media (max-width: 575px) {
  .profile-section .profile-bg-img {
    right: -70px;
  }
}
.profile-section .card {
  padding: 20px;
}
@media (max-width: 575px) {
  .profile-section .card {
    border-radius: 20px;
    text-align: center;
    border: 2px solid #665d1e !important;
  }
}
.profile-section .card::after {
  position: absolute;
  content: "";
  border: 2px solid #665d1e;
  height: 100%;
  width: 100%;
  left: 36px;
  border-top-left-radius: 140px;
  border-bottom-left-radius: 140px;
  top: 0;
  right: 0;
  border-right: 0;
}
@media (max-width: 575px) {
  .profile-section .card::after {
    display: none;
  }
}
.profile-section .card .circle-img {
  position: absolute;
  bottom: 60px;
  right: 40px;
  width: 50px;
  animation: zoom 1s linear infinite alternate;
}
.profile-section .card .card-img {
  width: 140px;
  height: 140px;
  min-width: 140px;
  z-index: 1;
  border: 1px solid #665d1e;
  border-radius: 50%;
}
@media (max-width: 575px) {
  .profile-section .card .card-img {
    width: 120px;
    height: 120px;
    min-width: 120px;
  }
}
.profile-section .card .card-img:after {
  position: absolute;
  content: "";
  left: -12px;
  top: 2px;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  z-index: -1;
  border-radius: 50%;
  background-color: #665d1e;
}
@media (max-width: 575px) {
  .profile-section .card .card-img:after {
    display: none;
  }
}
.profile-section .card .card-body {
  position: relative;
  z-index: 2;
}
@media (max-width: 575px) {
  .profile-section .card .card-body {
    width: 100% !important;
  }
}
.profile-section .card .profile-name {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  border-bottom-left-radius: 160px;
}
.profile-section .desc p {
  margin-bottom: 0;
}

.social-media .social-media-icons {
  gap: 15px;
}
.social-media .social-media-icons .social-icon {
  background: #665d1e;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  transition: 0.4s all;
  position: relative;
  border: 1px solid #665d1e;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.social-media .social-media-icons .social-icon::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: white;
  top: 0px;
  left: 8%;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  transform: translateX(-50%);
}
.social-media .social-media-icons .social-icon:hover {
  background-color: transparent;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 20px;
}
.social-media .social-media-icons .social-icon:hover svg {
  transition: 1s all;
  color: #665d1e !important;
  fill: #665d1e !important;
}
.social-media .social-media-icons .social-icon a {
  display: flex;
}
.social-media .social-media-icons .social-icon svg,
.social-media .social-media-icons .social-icon img {
  width: 22px;
  height: 22px !important;
  color: #ffffff !important;
  fill: #ffffff !important;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.contact-section {
  position: relative;
}
.contact-section .contact-bg {
  border-radius: 30px;
  padding: 2px;
  margin-top: 24px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
}
.contact-section .contact-bg .contact-box {
  border: 3px solid #665d1e;
  padding: 16px 16px 16px 50px;
  border-radius: 50px;
  position: relative;
  word-wrap: break-word !important;
  background-color: #665d1e;
  overflow: hidden;
}
@media (max-width: 575px) {
  .contact-section .contact-bg .contact-box {
    padding: 12px 10px 12px 47px;
  }
}
@media (max-width: 767px) {
  .contact-section .contact-bg .contact-box .contact-desc a {
    font-size: 12px !important;
  }
}
.contact-section .contact-bg .contact-box:after {
  position: absolute;
  content: "";
  top: 0;
  left: -12px;
  height: 100%;
  width: 60px;
  border-radius: 50%;
  background: white;
}
@media (max-width: 575px) {
  .contact-section .contact-bg .contact-box:after {
    left: -20px;
  }
}
.contact-section .contact-bg .contact-box .contact-icon {
  width: 44px;
  min-width: 44px;
  height: 44px;
  border-radius: 50%;
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  margin: inherit;
  left: 8px;
  transform: translateY(-50%);
  z-index: 9;
  border: 2px solid #665d1e;
}
@media (max-width: 575px) {
  .contact-section .contact-bg .contact-box .contact-icon {
    left: 9px;
    width: 36px;
    min-width: 36px;
    height: 36px;
  }
}
.contact-section .contact-bg .contact-box .contact-icon img {
  width: 22px;
}

.gallery-section .gallery-slider {
  position: relative;
  margin-bottom: 0 !important;
}
.gallery-section .gallery-slider:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background-image: url("/assets/img/vcard23/bgn-gold-stripes.png");
  height: 70px;
  width: 70px;
  background-repeat: repeat;
  z-index: -1;
  border-radius: 50%;
}
.gallery-section .gallery-slider .gallery-img {
  border-radius: 14px;
  border: 2px solid #e7e6db !important;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
  position: relative;
  background-color: #e7e6db;
}
@media (max-width: 575px) {
  .gallery-section .gallery-slider .gallery-img {
    max-height: 260px;
    height: 260px;
  }
}
@media (max-width: 425px) {
  .gallery-section .gallery-slider .gallery-img {
    max-height: 225px;
    height: 225px;
  }
}
.gallery-section .gallery-slider .gallery-img .expand-icon {
  background-color: #665d1e;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}
.gallery-section .gallery-slider .gallery-img img,
.gallery-section .gallery-slider .gallery-img iframe {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.gallery-section .gallery-slider .gallery-img .audio-image {
  height: 240px !important;
}
@media (max-width: 575px) {
  .gallery-section .gallery-slider .gallery-img .audio-image {
    height: 200px !important;
  }
}
@media (max-width: 425px) {
  .gallery-section .gallery-slider .gallery-img .audio-image {
    height: 160px !important;
  }
}
.gallery-section .gallery-slider .gallery-img .gallery-file-item {
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center !important;
  background-position: center;
  width: 100%;
  height: 100%;
}
.gallery-section .gallery-slider .slick-slide {
  padding: 0 10px;
}

.product-section {
  position: relative;
}
@media (max-width: 575px) {
  .product-section {
    padding-bottom: 12px;
  }
}
.product-section .right-arrow-animation {
  animation: right-arrow 1s linear 1s infinite alternate;
}
.product-section .product-slider .slick-slide {
  padding: 0 10px;
}
.product-section .product-slider .product-card {
  max-width: 100%;
  margin: auto;
  border-radius: 14px;
  border: 1px solid #665d1e;
}
@media (max-width: 575px) {
  .product-section .product-slider .product-card {
    margin: 0 auto;
  }
}
.product-section .product-slider .product-card .product-img {
  max-width: 100%;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.product-section .product-slider .product-card .product-img a {
  height: 200px;
  display: block;
}
.product-section .product-slider .product-card .product-desc {
  background-color: #e7e6db;
  z-index: 1;
  border-bottom: 4px solid #665d1e;
  min-height: 108px;
  overflow: hidden;
}
.product-section .product-slider .product-card .product-desc:after {
  position: absolute;
  content: "";
  width: 220px;
  height: 10px;
  bottom: 0;
  left: 0;
  background: #665d1e;
  -webkit-clip-path: polygon(0 0, 60% 0, 71% 100%, 0% 100%);
          clip-path: polygon(0 0, 60% 0, 71% 100%, 0% 100%);
}
.product-section .product-slider .product-card .product-desc h3 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  min-height: 44px;
  overflow: hidden;
  color: #e7e6db;
}
.product-section .product-slider .product-card .product-amount {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 20px !important;
}

.our-services-section {
  position: relative;
}
.our-services-section .services-bg-img {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}
.our-services-section .services-bg-img img {
  width: 80%;
}
@media (max-width: 575px) {
  .our-services-section .services-bg-img img {
    width: 90%;
  }
}
.our-services-section .services .service-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 100%;
}
.our-services-section .services .service-card-wrapper {
  position: relative;
}
.our-services-section .services .services-slider-view .card-title {
  color: #665d1e;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 6px;
  min-height: 44px;
}
.our-services-section .services .services-slider-view .description-text {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 63px;
}
.our-services-section .services .service-card {
  max-width: 100%;
  border-radius: 14px;
  position: relative;
  border: 1px solid #665d1e;
  overflow: hidden;
}
.our-services-section .services .service-card:after {
  position: absolute;
  content: "";
  width: 220px;
  height: 10px;
  bottom: 0px;
  left: 0;
  background: #665d1e;
  -webkit-clip-path: polygon(0 0, 60% 0, 71% 100%, 0% 100%);
          clip-path: polygon(0 0, 60% 0, 71% 100%, 0% 100%);
  border-bottom-left-radius: 10px;
}
.our-services-section .services .service-card .card-title {
  color: #665d1e;
  margin-top: 6px;
}
.our-services-section .services .service-card .description-text {
  font-size: 14px;
}
.our-services-section .services .service-card .card-body {
  padding: 16px;
  text-align: center;
  background: #e7e6db;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid #665d1e;
}
.our-services-section .services .service-card .img {
  height: 176px;
  display: block;
  width: 100%;
}
.our-services-section .services .service-card .img img {
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}
@media (max-width: 500px) {
  .our-services-section .services .service-card {
    min-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
.our-services-section .services .services-slider-view .slick-list {
  padding-bottom: 10px;
}
.our-services-section .services .services-slider-view .slick-list .slick-slide {
  padding: 0 10px;
}

.appointment-section {
  position: relative;
}
.appointment-section .appointment-bg {
  background-color: rgba(102, 93, 30, 0.06);
}
.appointment-section .appointment-bg .appointment {
  padding: 26px;
  background: #e7e6db;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 575px) {
  .appointment-section .appointment-bg .appointment {
    padding: 20px 10px;
  }
}
.appointment-section .appointment-bg .appointment::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  border-top: 4px solid #665d1e;
  top: 0;
  right: 0;
  border-right: 4px solid #665d1e;
  border-top-right-radius: 10px;
}
.appointment-section .appointment-bg .appointment:before {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  border-bottom: 4px solid #665d1e;
  bottom: 0;
  left: 0;
  border-left: 4px solid #665d1e;
  border-bottom-left-radius: 10px;
}
.appointment-section .appointment-bg .appointment .appointment-input {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  background-color: #ffffff;
  color: #525151;
  border-radius: 30px;
}
.appointment-section .appointment-bg .appointment .appointment-input::-moz-placeholder {
  color: #525151;
}
.appointment-section .appointment-bg .appointment .appointment-input::placeholder {
  color: #525151;
}
.appointment-section .appointment-bg .appointment .appointment-input:focus {
  box-shadow: none;
  outline: none;
  border-color: transparent;
}
.appointment-section .appointment-bg .appointment .calendar-icon {
  position: absolute;
  right: 18px;
  top: 11px;
}
.appointment-section .appointment-bg .appointment .timePick {
  margin-top: 15px;
}

input:-internal-autofill-selected {
  background-color: #ffffff !important;
}

.qr-code-section {
  position: relative;
}
.qr-code-section .code-img {
  position: absolute;
  right: 0;
  top: 75px;
}
.qr-code-section .qr-code {
  max-width: 550px;
  width: 100%;
  border-radius: 14px;
  padding: 25px;
  border: 1px solid #f2f2f2;
  background-color: #e7e6db;
  border: 1px solid #665d1e;
}
@media (max-width: 575px) {
  .qr-code-section .qr-code {
    padding: 10px 12px;
  }
}
.qr-code-section .qr-code .qr-profile-img {
  left: 0;
  right: 0;
  width: 90px;
  height: 90px;
  min-width: 90px;
  border-radius: 50%;
}
.qr-code-section .qr-code .qr-code-img {
  width: 130px;
  height: 130px;
  min-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #665d1e;
  border-radius: 10px;
  padding: 8px;
  background: #ffffff;
}

.blog-section {
  position: relative;
}
@media (max-width: 575px) {
  .blog-section {
    margin-bottom: 15px;
  }
}
.blog-section .blog-slider {
  margin-bottom: 10px;
}
@media (min-width: 575px) {
  .blog-section .blog-slider {
    margin-bottom: 0;
  }
}
.blog-section .blog-slider .blog-card {
  max-width: 100%;
  width: 100%;
  border-radius: 14px;
  border: 2px solid #665d1e;
}
.blog-section .blog-slider .blog-card .card-img {
  width: 100%;
  height: 220px;
  overflow: hidden;
  height: 250px;
}
.blog-section .blog-slider .blog-card .card-body {
  padding: 15px;
  border-top: 1px solid #665d1e;
  background-color: #e7e6db;
  position: relative;
}
.blog-section .blog-slider .blog-card .card-body:after {
  position: absolute;
  content: "";
  width: 220px;
  height: 10px;
  bottom: 0;
  left: 0;
  background: #665d1e;
  -webkit-clip-path: polygon(0 0, 60% 0, 71% 100%, 0% 100%);
          clip-path: polygon(0 0, 60% 0, 71% 100%, 0% 100%);
  border-bottom-left-radius: 10px;
}
.blog-section .blog-slider .blog-card p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  min-height: 39px;
  line-height: 1.2;
}
.blog-section .blog-slider .blog-card .read-more a {
  background: #665d1e;
  color: white !important;
  padding: 6px 10px;
  border-radius: 30px;
  margin-top: 10px;
  border: 1px solid #665d1e;
  font-size: 14px;
}
.blog-section .blog-slider .blog-card .read-more a:hover {
  background-color: #ffffff;
  color: #665d1e !important;
}
.blog-section .blog-slider .blog-card .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 20px;
  min-height: 48px;
}
.blog-section .blog-slider .slick-slide {
  padding: 0 10px;
}

.testimonial-section {
  position: relative;
}
.testimonial-section .testimonial-slider {
  position: relative;
}
.testimonial-section .testimonial-slider .testimonial-card {
  padding: 20px;
  position: relative;
  border-radius: 14px;
  background-color: #e7e6db;
  border: 1px solid #665d1e;
  border-bottom-width: 4px;
}
.testimonial-section .testimonial-slider .testimonial-card .testimonial-profile-img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  min-width: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 575px) {
  .testimonial-section .testimonial-slider .testimonial-card .testimonial-profile-img {
    width: 70px;
    height: 70px;
    min-width: 70px;
  }
}
.testimonial-section .testimonial-slider .testimonial-card .card-body .quote-img {
  top: -40px;
  right: 34px;
  background: #665d1e;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-section .testimonial-slider .testimonial-card .card-body .quote-img img {
  width: 42px;
}
.testimonial-section .testimonial-slider .testimonial-card .card-body .desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
  min-height: 84px;
}
.testimonial-section .testimonial-slider .slick-list {
  padding-top: 50px;
}
.testimonial-section .testimonial-slider .slide-arrow {
  width: 30px;
  height: 30px;
  min-width: 30px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  z-index: 9;
  top: 45%;
}
.testimonial-section .testimonial-slider .prev-arrow {
  left: -10px;
}
.testimonial-section .testimonial-slider .next-arrow {
  right: -10px;
}
.testimonial-section .slick-slide {
  padding: 0 10px;
}

.business-hour-section .business-hours .wrapper {
  position: relative;
  margin-top: 24px;
}
@media (max-width: 767px) {
  .business-hour-section .business-hours .wrapper {
    padding: 0 10px;
  }
}
.business-hour-section .business-hours .hours {
  position: relative;
  padding: 24px 10px 10px;
  border-radius: 30px;
  background-color: #e7e6db;
  border: 1px solid #665d1e;
}
.business-hour-section .business-hours .hours .icon-calendar {
  background: #665d1e;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  transition: 0.4s all;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: -30px;
  border: 1px solid #665d1e;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.business-hour-section .business-hours .hours .icon-calendar:after {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: white;
  top: 0px;
  left: 8%;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  transform: translateX(-50%);
}
.business-hour-section .business-hours .hours .icon-calendar svg {
  width: 20px;
  height: 20px;
}
.business-hour-section .business-hours span {
  font-size: 15px;
}
@media (max-width: 767px) {
  .business-hour-section .business-hours span {
    font-size: 14px;
  }
}

.contact-us-section {
  position: relative;
}
.contact-us-section .contact-form {
  padding: 20px;
  background: #665d1e;
  border-radius: 14px;
}
.contact-us-section .contact-form form .form-control {
  margin-bottom: 20px;
  padding: 13px 20px;
  height: 50px;
  border-radius: 14px;
  color: #525151;
  font-size: 14px;
  font-weight: 500;
  background-color: #ffffff;
}
.contact-us-section .contact-form form .form-control::-moz-placeholder {
  color: #665d1e;
}
.contact-us-section .contact-form form .form-control::placeholder {
  color: #665d1e;
}
.contact-us-section .contact-form form .form-control:focus {
  box-shadow: none;
  outline: none;
}
.contact-us-section .contact-form form .btn-secondary {
  box-shadow: 0 10px 15px rgba(0, 32, 32, 0.2);
}

.bg-img {
  width: 100%;
  max-width: 442px;
  margin: 0 auto;
}
.bg-img img {
  width: 100%;
}

.create-vcard-section .vcard-link-card {
  padding: 16px;
  background-color: #e7e6db;
  border-radius: 14px;
  border: 1px solid #665d1e;
}
.create-vcard-section .vcard-link-card .link-text {
  font-size: 18px;
  word-break: break-all;
}
@media (max-width: 575px) {
  .create-vcard-section .vcard-link-card .link-text {
    font-size: 16px;
  }
}

.map-section {
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #665d1e;
  padding: 14px;
}
.map-section .location-icon {
  background: #665d1e;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  transition: 0.4s all;
  position: relative;
  border: 1px solid #665d1e;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.map-section .location-icon:after {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: white;
  top: 0px;
  left: 8%;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  transform: translateX(-50%);
}

.add-to-contact-section {
  position: fixed;
  width: 100%;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 99;
}

.btn-section .fixed-btn-section .consulting-bars-btn {
  background-color: #665d1e;
}
.btn-section .fixed-btn-section .sub-btn .consulting-sub-btn {
  background-color: #ffffff;
  border: 1px solid #665d1e;
}

.slick-dotted.slick-slider {
  margin-bottom: 10px;
}

.slick-dots {
  position: static;
  bottom: inherit;
}
.slick-dots li {
  margin: 0 3px !important;
  width: 8px !important;
  height: 8px !important;
}
.slick-dots li button {
  width: 8px !important;
  height: 8px !important;
  font-size: 0;
}
.slick-dots li button:before {
  font-size: 0;
  width: 8px !important;
  height: 8px !important;
  border-radius: 10px;
  background-color: #665d1e;
}
.slick-dots li.slick-active {
  width: 30px !important;
}
.slick-dots li.slick-active button {
  width: 30px !important;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  width: 30px !important;
  color: transparent !important;
  background-color: #665d1e;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 575px) {
  .px-30 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 575px) {
  .px-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}
@media (max-width: 575px) {
  .fs-18 {
    font-size: 16px;
  }
}

.fs-20 {
  font-size: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-40 {
  margin-top: 40px;
}
@media (max-width: 575px) {
  .mt-40 {
    margin-top: 30px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 575px) {
  .mb-40 {
    margin-bottom: 30px;
  }
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}
@media (max-width: 575px) {
  .mx-30 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pb-50 {
  padding-bottom: 50px;
}
@media (max-width: 575px) {
  .pb-50 {
    padding-bottom: 40px;
  }
}

.pt-40 {
  padding-top: 40px;
}
@media (max-width: 575px) {
  .pt-40 {
    padding-top: 25px;
  }
}

.pb-40 {
  padding-bottom: 40px;
}
@media (max-width: 575px) {
  .pb-40 {
    padding-bottom: 25px;
  }
}

.pt-60 {
  padding-top: 60px;
}
@media (max-width: 575px) {
  .pt-60 {
    padding-top: 40px;
  }
}

.pb-60 {
  padding-bottom: 60px;
}
@media (max-width: 575px) {
  .pb-60 {
    padding-bottom: 40px;
  }
}

.pt-30 {
  padding-top: 30px;
}
@media (max-width: 575px) {
  .pt-30 {
    padding-top: 20px;
  }
}

.pb-30 {
  padding-bottom: 30px;
}
@media (max-width: 575px) {
  .pb-30 {
    padding-bottom: 20px;
  }
}

.pt-50 {
  padding-top: 50px;
}
@media (max-width: 575px) {
  .pt-50 {
    padding-top: 40px;
  }
}

.pt-80 {
  padding-top: 80px;
}
@media (max-width: 575px) {
  .pt-80 {
    padding-top: 40px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}
@media (max-width: 575px) {
  .pb-80 {
    padding-bottom: 40px;
  }
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fs-12 {
  font-size: 12px;
}

.fs-36 {
  font-size: 36px;
}
@media (max-width: 575px) {
  .fs-36 {
    font-size: 30px;
  }
}

.fs-30 {
  font-size: 30px;
}
@media (max-width: 575px) {
  .fs-30 {
    font-size: 28px;
  }
}

.fs-28 {
  font-size: 28px;
}
@media (max-width: 575px) {
  .fs-28 {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
}

.main-content {
  max-width: 670px;
  min-height: calc(100vh - 8px);
  background-color: #ffffff;
  position: relative !important;
  z-index: 2 !important;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 15px;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-1 {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-section {
  position: absolute;
  top: 50%;
  right: 80px;
  z-index: 9;
}
.btn-section .fixed-btn-section {
  position: fixed;
  top: 50%;
  display: flex;
  align-items: center;
}
.btn-section .fixed-btn-section .bars-btn {
  width: 60px;
  height: 60px;
  min-width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-section .fixed-btn-section .sub-btn {
  position: absolute;
  right: 75px;
  display: none;
}
.btn-section .fixed-btn-section .sub-btn .social-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-section .fixed-btn-section .sub-btn .social-btn i {
  font-size: 24px;
}

.slick-dots li {
  margin: 0;
}
.slick-dots li button:before {
  font-size: 30px;
  opacity: 0.5;
  color: transparent !important;
}

.add-contact-btn {
  background-color: #665d1e;
  color: #ffffff !important;
  border: none;
  border-radius: 30px !important;
  padding: 14px 28px;
  transition: all 0.3s ease-in;
}
.add-contact-btn:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in;
}
.add-contact-btn i {
  font-size: 1rem;
}

.send-btn {
  height: 40px;
  padding: 6px 30px;
  width: 250px !important;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.send-btn:hover {
  background-color: #ffffff !important;
  color: #665d1e !important;
}

@media (max-width: 320px) {
  .insta-feed .insta-embed {
    width: 100% !important;
  }
}

.insta-feed::-webkit-scrollbar {
  width: 0px;
}

.insta-feed::-webkit-scrollbar-thumb {
  background-color: #f1faff !important;
}

.insta-feed::-webkit-scrollbar-track {
  background-color: #f1faff !important;
}

.insta-feed-iframe iframe {
  border-radius: 15px !important;
}

.instagram-btn {
  flex: 1;
  position: relative;
  background: transparent;
}
.instagram-btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  background-color: #665d1e;
  transition: width 0.3s ease;
}
.instagram-btn.active::before {
  width: 80%;
}
.instagram-btn .svg-post-icon rect,
.instagram-btn .svg-post-icon line {
  stroke: #665d1e;
}
.instagram-btn.active .svg-post-icon rect, .instagram-btn.active .svg-post-icon line {
  fill: #665d1e;
  stroke: #ffffff;
}
.instagram-btn .svg-reels-icon .not-active-svg {
  display: block;
}
.instagram-btn .svg-reels-icon .active-svg {
  display: none;
}
.instagram-btn .svg-reels-icon path.not-active-svg,
.instagram-btn .svg-reels-icon rect {
  fill: #665d1e;
}
.instagram-btn .svg-reels-icon path {
  fill: #665d1e;
}
.instagram-btn.active .svg-reels-icon .not-active-svg, .instagram-btn.active .svg-reels-icon rect {
  display: none;
}
.instagram-btn.active .svg-reels-icon .active-svg {
  display: block;
}

.insta-toggle {
  border-radius: 35px !important;
  transition: all 0.3s ease !important;
}

#instafeed-container a img {
  width: 44%;
  height: 200px !important;
  margin: 11px;
  border-radius: 15px;
}

.instagram-media {
  min-width: 50% !important;
  max-width: 100% !important;
  border: 1px solid #665d1e !important;
}

.modal-backdrop {
  background-color: transparent;
}

.modal {
  z-index: 99999 !important;
  background-color: #00000080;
}
.modal .news-modal #newsLatter-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.475rem;
  outline: 0;
  background-color: #212020;
}
.modal .news-modal #newsLatter-content .form-control {
  padding: 0.375rem 0.75rem !important;
  font-size: 0.875rem !important;
}
.modal .news-modal #newsLatter-content .newsmodal-header .btn-close {
  background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ADB5BD'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
  position: absolute !important;
  right: 16px !important;
  top: 16px !important;
  z-index: 1 !important;
}
.modal .news-modal #newsLatter-content .newsmodal-header .newsmodal-title {
  font-size: 50px;
  text-align: center !important;
  color: #665d1e;
}
.modal .news-modal #newsLatter-content .modal-body {
  padding: 1.75rem;
}
.modal .news-modal #newsLatter-content .modal-body .content {
  color: #665d1e;
  font-size: 23px;
}
.modal .news-modal #newsLatter-content .modal-body .modal-desc {
  color: silver;
  font-size: 16px;
  font-weight: 400;
}
.modal .news-modal #newsLatter-content .modal-body .email-input {
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content .modal-body .email-input .btn {
  padding: 4px 10px !important;
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content .modal-body .required:after {
  color: #665d1e;
  content: "*";
  font-size: inherit;
  font-weight: 700;
  position: relative;
}
.modal .news-modal #newsLatter-content .modal-body .input-box {
  background-color: #f5f8fa;
  border: unset;
  color: #5e6278;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border-radius: 0.475rem;
}
.modal .news-modal #newsLatter-content .modal-body .input-box:focus {
  box-shadow: unset;
  background-color: #eef3f7;
}
.modal .news-modal #newsLatter-content .modal-body .input-group {
  background: black;
  border: none;
}
.modal .news-modal #newsLatter-content .modal-footer {
  padding: 1.875rem;
  border-top: none !important;
}
.modal .news-modal #newsLatter-content .modal-footer .btn {
  padding: 10px 20px !important;
  border-radius: 0.475rem !important;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn {
  background-color: #665d1e !important;
  border: unset;
  outline: unset;
  color: #ffffff;
  padding: 10px 20px !important;
  margin-top: 26px;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn:hover {
  background-color: #665d1e !important;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn:focus {
  box-shadow: unset;
}

#email-send {
  background-color: #665d1e;
  color: #ffffff !important;
  font-size: 15px;
  border: none;
  border-radius: 8px;
}

@media (min-width: 576px) {
  #newsLatterModal .modal-dialog {
    max-width: 420px !important;
    min-height: calc(100% - 5rem) !important;
    transform: none !important;
  }
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
.time-slot {
  font-size: 15px;
  color: #211c29 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #665d1e;
  border-radius: 30px;
}
.time-slot:hover, .time-slot.activeSlot {
  background-color: #665d1e !important;
  color: white !important;
}

.language ul {
  list-style: none;
}
.language ul .lang-list {
  padding: 3px 9px;
  background-color: #665d1e;
  border: none;
  outline: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
}
.language ul .lang-list .lang-head {
  color: #ffffff;
}
.language ul .lang-list .lang-head i {
  color: #ffffff;
}
.language ul .lang-list .lang-hover-list {
  margin: 15px 0 0;
  font-size: 14px;
  right: 0;
  min-width: 70px;
  width: 100%;
}
.language ul .lang-list .lang-hover-list li {
  padding: 4px 8px;
}
.language ul .lang-list .lang-hover-list li:hover, .language ul .lang-list .lang-hover-list li.active {
  background-color: #e7e6db !important;
}
.language ul .lang-list .lang-hover-list li:hover a, .language ul .lang-list .lang-hover-list li.active a {
  color: #665d1e !important;
}
.language ul .lang-list .lang-hover-list li a {
  color: #5e6278 !important;
  text-decoration: none;
  font-size: 14px !important;
}
.language ul .lang-list .lang-hover-list li a img {
  height: 14px !important;
  width: 16px !important;
}

.support-banner {
  width: 100%;
  max-width: 606px;
  height: auto !important;
  position: fixed;
  bottom: 20px;
  z-index: 99999 !important;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 14px;
  border: 1px solid #665d1e;
  margin-left: 32px;
  margin-right: 32px;
}
@media (max-width: 767px) {
  .support-banner {
    max-width: 476px !important;
  }
}
@media (max-width: 575px) {
  .support-banner {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100% !important;
  }
}
.support-banner .support_heading {
  font-size: 27px;
  margin-top: 30px;
}
.support-banner .support_text {
  margin-bottom: 22px;
  max-height: 123px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 13px;
}
@media (max-width: 320px) {
  .support-banner .support_text {
    max-height: 194px !important;
    overflow: auto !important;
  }
}
.support-banner .support_text::-webkit-scrollbar {
  width: 4px;
}
.support-banner .support_text::-webkit-scrollbar-track {
  background: transparent;
}
.support-banner .support_text::-webkit-scrollbar-thumb {
  background: #888;
}
@media (max-width: 767px) {
  .support-banner .support-banner {
    max-width: 476px !important;
  }
}
@media (max-width: 575px) {
  .support-banner .support-banner {
    max-width: 100% !important;
  }
}
.support-banner .act-now {
  padding: 7px 21px;
  background: #665d1e;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  transform: translateY(0);
  text-decoration: none;
  color: #ffffff !important;
  position: relative;
  bottom: 10px;
  display: inline-block !important;
  border-radius: 30px;
}
.support-banner .banner-close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 20px !important;
  background: none;
  border: none;
}

.vcard-twentythree.main-content {
  max-width: 670px;
  text-align: center !important;
  color: #211c29;
  border-radius: 15px;
  overflow: hidden;
}
.vcard-twentythree .vcard-twentythree-heading {
  font-weight: 500;
  font-size: 28px;
  color: #665d1e !important;
}
.vcard-twentythree .card {
  border: 1px solid #665d1e;
  background-color: #e7e6db;
  border-radius: 14px;
}

.vcard-twentythree-btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #665d1e !important;
  color: #ffffff !important;
  border-radius: 30px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #665d1e;
}
.vcard-twentythree-btn:hover {
  background-color: transparent !important;
  color: #665d1e !important;
}

.vcard23-sticky-btn {
  background: #665d1e;
  border: 1px solid #665d1e !important;
  border-radius: 5px;
  height: 40px;
}

.vcard23-btn-group {
  width: 50px;
  height: 50px;
  color: #665d1e !important;
  background-color: #665d1e;
  border-radius: 50px !important;
}

.product-head {
  font-weight: 500;
  font-size: 28px;
  color: #665d1e !important;
}

.back-btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #665d1e !important;
  color: #ffffff !important;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}

.buy-product {
  padding: 10px 20px;
  background: #665d1e !important;
  border: 1px solid #665d1e;
  outline: none;
  color: #ffffff !important;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.buy-product:hover {
  background: #ffffff !important;
  color: #665d1e !important;
}

.product-amount {
  color: #665d1e !important;
}

.main-content.rtl .lang-hover-list {
  left: 0;
  right: auto;
}
.main-content.rtl #slotData {
  justify-content: end !important;
}
.main-content.rtl .expand-icon {
  left: 10px;
  right: auto;
}
.main-content.rtl .read-more {
  justify-content: start !important;
}
.main-content.rtl .blog-card .card-body {
  padding: 15px 15px 25px 15px;
}
.main-content.rtl .profile-section .profile-bg-img {
  transform: scaleX(-1);
  left: 0;
  right: auto;
}
.main-content.rtl .profile-section .card {
  flex-direction: row-reverse !important;
}
.main-content.rtl .profile-section .card::after {
  border-left: 0;
  border-right: 2px solid #665d1e;
  left: auto;
  right: 36px;
  border-top-right-radius: 140px;
  border-bottom-right-radius: 140px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.main-content.rtl .profile-section .card .card-img:after {
  right: -11px !important;
  left: inherit;
}
.main-content.rtl .profile-section .card .card-body {
  text-align: end !important;
}
.main-content.rtl .social-media .social-icon:after {
  right: -15px;
  left: auto;
  top: -1px;
}
.main-content.rtl .ms-3 {
  margin-right: 1rem !important;
}
.main-content.rtl .calendar-icon {
  left: 18px;
  right: auto !important;
}
.main-content.rtl .contact-section .contact-box {
  padding: 16px 50px 16px 16px;
}
.main-content.rtl .contact-section .contact-box:after {
  right: -12px;
}
.main-content.rtl .contact-section .contact-icon {
  right: 14px;
}
.main-content.rtl .text-start {
  text-align: right !important;
}
.main-content.rtl .our-services-section .services .service-card-wrapper::after {
  right: 10px;
  left: auto;
}
.main-content.rtl .our-services-section .text-start {
  text-align: right !important;
}
@media (min-width: 576px) {
  .main-content.rtl .me-sm-2 {
    margin-left: 0.5rem !important;
  }
  .main-content.rtl .text-sm-start {
    text-align: right !important;
  }
}

.vcard-one__product {
  background-color: #ffffff;
}
.vcard-one__product .product-card {
  padding: 15px;
  background-color: #e7e6db;
  border-radius: 14px;
}

.btn-section.rtl {
  right: auto !important;
  left: 15px !important;
}

.modal-content[dir=rtl] .pl-50 {
  padding-right: 50px;
}
.modal-content[dir=rtl] .text-center {
  text-align: start !important;
}
.modal-content[dir=rtl] .arrow {
  transform: rotate(180deg) !important;
}
.modal-content[dir=rtl] .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0.313rem !important;
  border-bottom-right-radius: 0.313rem !important;
}
.modal-content[dir=rtl] .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0.313rem !important;
  border-bottom-left-radius: 0.313rem !important;
}
.modal-content[dir=rtl] .vcard-one__product .product-card {
  margin: 10px auto !important;
  width: 75% !important;
}
@media (max-width: 575px) {
  .modal-content[dir=rtl] .vcard-one__product .product-card {
    width: 99% !important;
  }
}
.modal-content[dir=rtl] .vcard-one__product .product-card .product-img {
  height: 200px !important;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.slick-prev.slick-arrow {
  color: black !important;
  left: 0 !important;
  z-index: 16 !important;
}

.slick-next.slick-arrow {
  color: black !important;
  right: 0 !important;
  z-index: 16 !important;
}

.toast-title {
  margin-right: 12px;
}

.toast-message {
  margin-right: 12px;
}

.input-box {
  padding: 20px;
  display: grid;
  place-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 30px;
}

.input-box h4 {
  margin: 0;
  color: #665d1e !important;
  font-size: medium !important;
}

.file-list li {
  color: #8b807b !important;
}

.selected-files .item {
  border-width: 0 !important;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #f6f6f6;
}

.file-list .name {
  flex-grow: 1;
}

.file-list .remove {
  margin-left: 8px;
  cursor: pointer;
  color: red;
}

.file-list .remove svg {
  width: 16px;
  height: 16px;
}

.selected-files .item .name {
  color: #8b807b !important;
}

.selected-files h5 {
  color: #212529 !important;
  font-size: medium !important;
  margin-top: 9px !important;
  margin-bottom: 10px !important;
}

small {
  font-size: 12px;
  color: #8b807b !important;
}

.file-list {
  overflow-y: auto;
  list-style-type: none !important;
  padding: 0 0 10px 0;
  margin: 0;
  max-height: 220px;
  font-size: medium !important;
}

oobject-fit-contain {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.modal {
  padding-right: 0 !important;
}
.modal.show {
  padding-right: 0 !important;
}
.modal.show .modal-dialog {
  transform: translateY(35px) !important;
}
@media (min-width: 576px) {
  .modal.show .modal-dialog {
    margin: 2.5rem auto !important;
    max-width: 520px !important;
  }
}
.modal .modal-dialog {
  transform: translateY(95px) !important;
}
.modal .modal-dialog.modal-bottom {
  height: 87vh !important;
}

.pwa-support {
  width: 100%;
  max-width: 400px;
  height: auto !important;
  position: fixed !important;
  bottom: 20px;
  z-index: 99999 !important;
  background: white;
  padding: 24px;
  border-radius: 14px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid #665d1e;
}
.pwa-support .pwa-heading {
  font-size: 20px;
  margin-bottom: 12px;
}
.pwa-support .pwa-text {
  margin-bottom: 16px;
  font-size: 0.875rem !important;
}

.pwa-install-button {
  background: #665d1e !important;
  color: #ffffff !important;
  border-radius: 30px !important;
  padding: 0.563rem 1.563rem !important;
  font-weight: 400 !important;
  font-size: 0.875rem !important;
}

.pwa-cancel-button {
  background-color: #dae2eb !important;
  color: #000000;
  border-radius: 30px !important;
  padding: 0.563rem 1.563rem;
  border: none !important;
  font-weight: 400 !important;
  font-size: 0.875rem !important;
}
.pwa-cancel-button:hover {
  background-color: #d1d5db !important;
  border: none !important;
  color: #000000 !important;
}

.youtube-link-23 {
  padding-top: 56.25%;
  position: relative;
}
.youtube-link-23 iframe {
  position: absolute !important;
  top: 0;
  left: 0 !important;
  height: 100% !important;
  width: 100 !important;
}

.product-img-slider .slick-list {
  padding: 0 !important;
}

.card-padding {
  padding-top: 25px !important;
}

.iframe-slider .iframe-card iframe {
  border-radius: 30px;
  border: 1px solid #665d1e !important;
}
.iframe-slider .slick-slide {
  padding: 0 10px;
}

@keyframes zoom {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes topbottom {
  0% {
    bottom: 14px;
  }
  100% {
    bottom: 8px;
  }
}
@keyframes clouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes right-arrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(8px);
  }
}
.vcardtwentythree-bg-animation {
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
}
.vcardtwentythree-bg-animation .chats {
  width: 110px;
  padding: 6px;
  border: 2px solid #665d1e;
  border-radius: 8px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(20) infinite;
  position: absolute;
  left: 40px;
  bottom: 300px;
}
.vcardtwentythree-bg-animation .chat-right {
  position: absolute;
  right: 10px;
  bottom: 30px;
}
.vcardtwentythree-bg-animation .chat-right .chat {
  display: inline-block;
  background: transparent;
  border-radius: 10px;
  padding: 8px 10px;
  margin: 10px;
  font-size: 10px;
  opacity: 0;
  animation: fadeChat 6s infinite;
  border: 1px solid #5c551a;
}
.vcardtwentythree-bg-animation .chat-right .chat:nth-child(1) {
  animation-delay: 0s;
}
.vcardtwentythree-bg-animation .chat-right .chat:nth-child(2) {
  animation-delay: 2s;
}
.vcardtwentythree-bg-animation .chat-right .chat:nth-child(3) {
  animation-delay: 4s;
}
.vcardtwentythree-bg-animation .graph {
  /* Line chart animation */
  /* Dots animation */
}
.vcardtwentythree-bg-animation .graph.graph1 {
  position: absolute;
  bottom: 270px;
  left: 480px;
}
.vcardtwentythree-bg-animation .graph.graph2 {
  position: absolute;
  bottom: 40px;
  right: 450px;
}
.vcardtwentythree-bg-animation .graph svg {
  width: 100px;
}
.vcardtwentythree-bg-animation .graph .bars {
  transform: scaleY(0);
  transform-origin: bottom;
  animation: grow 7s ease-out forwards infinite;
}
.vcardtwentythree-bg-animation .graph .bars:nth-child(1) {
  animation-delay: 0.2s;
}
.vcardtwentythree-bg-animation .graph .bars:nth-child(2) {
  animation-delay: 0.4s;
}
.vcardtwentythree-bg-animation .graph .bars:nth-child(3) {
  animation-delay: 0.6s;
}
.vcardtwentythree-bg-animation .graph .bars:nth-child(4) {
  animation-delay: 0.8s;
}
.vcardtwentythree-bg-animation .graph .bars:nth-child(5) {
  animation-delay: 1s;
}
.vcardtwentythree-bg-animation .graph .line-path {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: draw 2s ease forwards 1.5s;
}
.vcardtwentythree-bg-animation .graph .dot {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}
.vcardtwentythree-bg-animation .graph .dot:nth-child(1) {
  animation-delay: 1.7s;
}
.vcardtwentythree-bg-animation .graph .dot:nth-child(2) {
  animation-delay: 2s;
}
.vcardtwentythree-bg-animation .graph .dot:nth-child(3) {
  animation-delay: 2.3s;
}
.vcardtwentythree-bg-animation .graph .dot:nth-child(4) {
  animation-delay: 2.6s;
}
.vcardtwentythree-bg-animation .graph .dot:nth-child(5) {
  animation-delay: 2.9s;
}
.vcardtwentythree-bg-animation .bg-icon-images {
  /* Floating icons */
}
.vcardtwentythree-bg-animation .bg-icon-images .icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #d8d6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: float 4s infinite ease-in-out;
}
.vcardtwentythree-bg-animation .bg-icon-images .icon img {
  width: 25px;
  height: 25px;
}
.vcardtwentythree-bg-animation .bg-icon-images .icon.icon1 {
  animation-delay: 0s;
  bottom: 160px;
  left: 270px;
}
.vcardtwentythree-bg-animation .bg-icon-images .icon.icon2 {
  width: 110px;
  top: 440px;
  right: 80px;
  animation-delay: 0.5s;
}
.vcardtwentythree-bg-animation .bg-icon-images .icon.icon3 {
  bottom: 40px;
  left: 490px;
  animation-delay: 1s;
}
.vcardtwentythree-bg-animation .bg-icon-images .icon.icon4 {
  bottom: 230px;
  right: 360px;
  animation-delay: 1.5s;
}
.vcardtwentythree-bg-animation .gear {
  position: absolute;
  left: 200px;
  top: 370px;
}
.vcardtwentythree-bg-animation .gear img {
  filter: invert(35%) contrast(90%);
  animation: rotate 10s linear infinite;
}
.vcardtwentythree-bg-animation .avatar img {
  filter: invert(35%) contrast(90%);
  animation: float 4s infinite ease-in-out;
  width: 37px;
  border: 2px solid #5c551a;
  border-radius: 50%;
  padding: 4px;
}
.vcardtwentythree-bg-animation .avatar.avatar1 {
  position: absolute;
  bottom: 60px;
  left: 100px;
}
.vcardtwentythree-bg-animation .avatar.avatar2 {
  position: absolute;
  right: 180px;
  bottom: 190px;
}
.vcardtwentythree-bg-animation .avatar.avatar3 {
  position: absolute;
  right: 310px;
  bottom: 420px;
}
.vcardtwentythree-bg-animation .avatar.avatar4 {
  position: absolute;
  left: 460px;
  bottom: 490px;
}
.vcardtwentythree-bg-animation .center-icon {
  position: absolute;
  bottom: 380px;
  right: 530px;
}
.vcardtwentythree-bg-animation .center-icon img {
  filter: invert(35%) contrast(90%);
  width: 37px;
  border: 2px solid #5c551a;
  border-radius: 50%;
  padding: 4px;
}

@keyframes grow {
  to {
    transform: scaleY(1);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 110px;
  }
  100% {
    width: 0;
  }
}
@keyframes fadeChat {
  0%, 100% {
    opacity: 0;
  }
  10%, 40% {
    opacity: 1;
  }
  60%, 90% {
    opacity: 0;
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.linkedin-feed {
  max-height: 1000px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.linkedin-feed-iframe {
  height: 500px;
  margin-bottom: 12px;
  border-radius: 8px;
  overflow: hidden;
}

.linkedin-feed-iframe iframe {
  width: calc(100% - 2px) !important;
  height: 500px !important;
  border: 1px solid #665d1e !important;
  border-radius: 15px !important;
  transform-origin: top left;
  transform: scale(1);
}
