.bg-primary {
  background-color: #6228d7 !important;
}

.text-primary {
  color: #6228d7 !important;
}

.text-gray-100 {
  color: #887e96 !important;
}

.text-light {
  color: #ffdcff !important;
}

.text-gradient {
  display: inline-block;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  border-radius: 10px !important;
  padding: 10px 35px;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary {
  color: #ffffff;
  background: #6228d7;
  transition: 0.3s all ease-in-out;
  box-shadow: none !important;
  border: 1px solid #6228d7;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.active {
  color: #6228d7;
  background: #ffffff;
  transition: 0.3s all ease-in-out;
}

.btn-gradient {
  color: #ffffff !important;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
  transition: 0.3s all ease-in-out;
  box-shadow: none !important;
  border: 1px solid transparent;
}
.btn-gradient:hover, .btn-gradient:focus, .btn-gradient.active {
  color: #6228d7 !important;
  background: #ffffff;
  border: 1px solid #6228d7;
  transition: 0.3s all ease-in-out;
}

@font-face {
  font-family: "Rye";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Rye-Regular.ttf?3f678c23348d0423648aed34541c6ee2) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "PermanentMarker";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/PermanentMarker-Regular.ttf?109a10dca0508e41aa127be1fcbe6b44) format("truetype");
  font-display: swap;
}
.bg {
  background: url(/images/bg-img.png?9e74ca838e4d78456c413b2c40df137c);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.font-Saira {
  font-family: "Saira";
  font-weight: 600;
  letter-spacing: 0.6px;
}

body {
  font-family: "Poppins";
  font-weight: 400;
  padding-right: 0 !important;
}
body.modal-open {
  padding-right: 0 !important;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 575px) {
  .px-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main-content {
  position: relative;
  background-size: cover;
  max-width: 670px !important;
  min-height: calc(100vh - 8px) !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  border-radius: 15px !important;
  background-color: #ffffff !important;
}

.banner-section {
  position: relative;
}
.banner-section .banner-img {
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  height: 320px;
}

.profile-section {
  position: relative;
}
.profile-section .card-wrapper {
  position: relative;
  padding: 2px;
  border-radius: 20px;
  overflow: hidden;
}
.profile-section .card-wrapper::before {
  content: "";
  position: absolute;
  top: -147%;
  left: -35%;
  width: 170%;
  height: 458%;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 50% 100%;
  animation: border-animation 4s linear infinite;
  pointer-events: none;
}
.profile-section .card {
  position: relative;
  border: none;
  padding: 20px;
  border-radius: 20px;
}
.profile-section .card .card-img {
  border-radius: 63% 37% 63% 37%/36% 62% 38% 64%;
  min-width: 150px;
  width: 150px;
  height: 150px;
  aspect-ratio: 1;
  overflow: hidden;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
  transition: 0.3s all ease-in-out;
  padding: 3px;
}
@media (max-width: 575px) {
  .profile-section .card .card-img {
    min-width: 120px;
    width: 120px;
    height: 120px;
  }
}
.profile-section .card .card-img img {
  border-radius: 63% 37% 63% 37%/36% 62% 38% 64%;
}
.profile-section .card .card-body {
  width: 100%;
}

.social-media .social-icons {
  gap: 20px;
}
.social-media .social-icon,
.social-media .social-back {
  width: 52px;
  height: 52px;
  min-width: 52px;
  border-radius: 63% 37% 63% 37%/36% 62% 38% 64%;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
  transition: 0.3s all ease-in-out;
}
.social-media .social-icon svg,
.social-media .social-icon img,
.social-media .social-back svg,
.social-media .social-back img {
  width: 24px;
  height: 24px !important;
  border-radius: 50% !important;
  color: #ffffff !important;
  fill: #ffffff !important;
  transition: 0.3s all ease-in-out;
}
.social-media .social-icon:hover,
.social-media .social-back:hover {
  transform: rotate(360deg);
  transition: 0.3s all ease-in-out;
  border-radius: 50%;
}
.social-media .social-icon:hover svg,
.social-media .social-icon:hover img,
.social-media .social-back:hover svg,
.social-media .social-back:hover img {
  color: #ffffff !important;
  fill: #ffffff !important;
  transition: 0.3s all ease-in-out;
}

.section-heading h2 {
  font-size: 30px;
  font-family: "PermanentMarker";
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  position: relative;
  letter-spacing: 2px;
}
.section-heading h2::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -8px;
  margin: auto;
  width: 50%;
  height: 2px;
  border-radius: 5px;
  background: linear-gradient(170deg, #f9ce34, #ee2a7b, #6228d7);
}

.contact-section .row-gap-20px {
  row-gap: 20px;
}
.contact-section .card-wrapper {
  border-radius: 15px;
  background: linear-gradient(170deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
  overflow: hidden;
  padding: 1px;
}
.contact-section .contact-box {
  padding: 10px;
  border-radius: 15px;
  background: radial-gradient(circle at 10% 30%, #f9e3d4, #f5d2d6, #eacbe4, #e0caf0);
  position: relative;
  gap: 10px !important;
}
.contact-section .contact-box .contact-icon {
  width: 45px;
  min-width: 45px;
  height: 45px;
  border-radius: 63% 37% 63% 37%/36% 62% 38% 64%;
  background: #ffffff;
  border: 1px solid #6228d7;
}
.contact-section .contact-box .contact-icon svg,
.contact-section .contact-box .contact-icon img {
  width: 20px;
  max-height: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-section .contact-box .contact-desc {
  display: flex;
  align-items: center;
  width: 100%;
}
.contact-section .contact-box .contact-desc a {
  word-break: break-all;
  font-size: 14px !important;
  display: block;
}
.contact-section .contact-box .contact-desc p {
  font-size: 14px !important;
  text-align: center;
}

.our-services-section {
  position: relative;
}
.our-services-section .services .card-wrapper {
  position: relative;
  padding: 1px;
  border-radius: 20px;
  overflow: hidden;
  max-width: 293px;
  margin: 0 auto;
}
.our-services-section .services .card-wrapper::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -40%;
  width: 170%;
  height: 170%;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 50% 100%;
  animation: border-animation 4s linear infinite;
  pointer-events: none;
}
.our-services-section .services .service-card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 10px;
}
.our-services-section .services .service-card .card-img {
  width: 100%;
  height: 174px;
  min-width: 100%;
  margin: 0 auto;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.our-services-section .services .service-card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-services-section .services .service-card .card-body {
  padding: 10px;
  background: radial-gradient(circle at 10% 30%, #f9e3d4, #f5d2d6, #eacbe4, #e0caf0);
  position: relative;
  border-radius: 0 0 15px 15px;
}
.our-services-section .services .service-card .card-body::after {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 28px;
  background-image: url(/images/card-bg.png?8fcb65f7b40b09b30f1719f85579719e);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.our-services-section .services .service-card .card-title {
  font-size: 18px;
}
.our-services-section .services .service-card .description-text {
  font-size: 14px;
}
.our-services-section .services .services-slider-view .slick-slide {
  padding: 0 10px;
}
.our-services-section .services .services-slider-view .service-card .card-body {
  min-height: 135px;
}
.our-services-section .services .services-slider-view .service-card .card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  min-height: 44px;
  font-size: 18px;
}
.our-services-section .services .services-slider-view .service-card p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-align: center;
  min-height: 63px;
  font-size: 14px;
}

.appointment-section {
  position: relative;
}
.appointment-section .appointment-box {
  border-radius: 15px;
  background: linear-gradient(170deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
  padding: 1px;
  overflow: hidden;
}
.appointment-section .appointment {
  padding: 15px;
  border-radius: 15px;
  background: radial-gradient(circle at 10% 30%, #f9e3d4, #f5d2d6, #eacbe4, #e0caf0);
  position: relative;
}
.appointment-section .appointment .appointment-input {
  width: 100%;
  height: 50px;
  padding: 12px 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: none !important;
  border: 1px solid #6228d7 !important;
  color: #6228d7;
}
.appointment-section .appointment .appointment-input::-moz-placeholder {
  color: #6228d7;
}
.appointment-section .appointment .appointment-input::placeholder {
  color: #6228d7;
}
.appointment-section .appointment .appointment-input:focus {
  outline: none;
  box-shadow: none !important;
}
.appointment-section .appointment .calendar-icon {
  position: absolute;
  right: 18px;
  top: 11px;
}

.timePick {
  margin-bottom: 0 !important;
  margin-top: 15px !important;
}

.gallery-section {
  position: relative;
}
.gallery-section .gallery-slider {
  position: relative;
}
.gallery-section .gallery-slider .slick-slide {
  padding: 0 10px;
}
.gallery-section .gallery-slider .gallery-img,
.gallery-section .gallery-slider .gallery-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  background-color: white;
}
.gallery-section .gallery-slider .gallery-file-item {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}
.gallery-section .gallery-slider .gallery-img {
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
  max-width: 560px;
  max-height: 280px;
  height: 280px;
  aspect-ratio: 2;
  overflow: hidden;
  padding: 2px;
}
.gallery-section .gallery-slider .gallery-img::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -25%;
  width: 150%;
  height: 250%;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 50% 100%;
  animation: border-animation 4s linear infinite;
  pointer-events: none;
}
.gallery-section .gallery-slider .gallery-img .expand-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
@media (max-width: 480px) {
  .gallery-section .gallery-slider .gallery-img {
    height: 240px;
  }
}
.gallery-section .gallery-slider .gallery-img img,
.gallery-section .gallery-slider .gallery-img iframe {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 20px;
  position: relative;
}

@keyframes border-animation {
  to {
    transform: rotate(360deg);
  }
}
.testimonial-section {
  position: relative;
}
.testimonial-section .testimonial-slider {
  position: relative;
}
.testimonial-section .testimonial-slider .slick-slide {
  padding: 0 10px;
}
.testimonial-section .testimonial-slider .testimonial-box {
  border-radius: 20px;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
  transition: 0.3s all ease-in-out;
  padding: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.testimonial-section .testimonial-slider .testimonial-card {
  position: relative;
  border: none;
  margin: 0 auto;
  padding: 25px;
  position: relative;
  border-radius: 20px;
  transition: 0.3s all ease-in-out;
  background: radial-gradient(circle at 10% 30%, #f9e3d4, #f5d2d6, #eacbe4, #e0caf0);
}
.testimonial-section .testimonial-slider .testimonial-card .quote-img {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.testimonial-section .testimonial-slider .testimonial-card .quote-img img {
  width: 30px;
}
.testimonial-section .testimonial-slider .testimonial-card .quote-img.left-img {
  top: -20px;
  left: -15px;
}
.testimonial-section .testimonial-slider .testimonial-card .quote-img.right-img {
  bottom: -20px;
  right: -15px;
}
.testimonial-section .testimonial-slider .testimonial-card .testimonial-profile-img {
  width: 70px;
  height: 70px;
  min-width: 70px;
  border-radius: 63% 37% 63% 37%/36% 62% 38% 64%;
  overflow: hidden;
  border: 3px solid #ffffff;
}
.testimonial-section .testimonial-slider .testimonial-card .card-body h5 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  overflow: hidden;
}
.testimonial-section .testimonial-slider .testimonial-card .card-body .desc {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 14px;
  margin-bottom: 10px;
  min-height: 87px;
  overflow: hidden;
}

.product-section {
  position: relative;
}
.product-section .slick-slide {
  padding: 0 10px;
}
.product-section .product-slider .card-wrapper {
  position: relative;
  padding: 1px;
  border-radius: 20px;
  overflow: hidden;
  max-width: 293px;
  margin: 0 auto;
}
.product-section .product-slider .card-wrapper::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -40%;
  width: 170%;
  height: 170%;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 50% 100%;
  animation: border-animation 4s linear infinite;
  pointer-events: none;
}
.product-section .product-slider .product-card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 10px;
}
.product-section .product-slider .product-card .card-img {
  width: 100%;
  height: 174px;
  min-width: 100%;
  margin: 0 auto;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.product-section .product-slider .product-card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-section .product-slider .product-card .card-body {
  padding: 10px;
  background: radial-gradient(circle at 10% 30%, #f9e3d4, #f5d2d6, #eacbe4, #e0caf0);
  position: relative;
  border-radius: 0 0 15px 15px;
  min-height: 102px;
}
.product-section .product-slider .product-card .card-body::after {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 28px;
  background-image: url(/images/card-bg.png?8fcb65f7b40b09b30f1719f85579719e);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.product-section .product-slider .product-card .card-body h3 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  min-height: 44px;
  overflow: hidden;
}
.product-section .product-slider .product-card .card-body .product-amount {
  font-size: 20px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.right-arrow-animation {
  animation: right-arrow 1s linear 1s infinite alternate;
}

@keyframes right-arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}
.blog-section {
  position: relative;
}
.blog-section .blog-slider .slick-slide {
  padding: 0 10px;
}
.blog-section .blog-slider .card-wrapper {
  position: relative;
  padding: 1px;
  border-radius: 20px;
  overflow: hidden;
}
.blog-section .blog-slider .card-wrapper::before {
  content: "";
  position: absolute;
  top: -30%;
  left: -30%;
  width: 170%;
  height: 170%;
  background: linear-gradient(170deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 50% 100%;
  animation: border-animation 4s linear infinite;
  pointer-events: none;
}
.blog-section .blog-slider .blog-card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 10px;
}
.blog-section .blog-slider .blog-card .card-img {
  width: 100%;
  max-width: 100%;
  height: 300px;
  margin: 0 auto;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.blog-section .blog-slider .blog-card .card-body {
  padding: 15px;
  background: linear-gradient(88deg, #f5c5c1, #eed3ee, #ecd6e0, #f6e2c6);
  position: relative;
  border-radius: 0 0 15px 15px;
}
.blog-section .blog-slider .blog-card .card-body::after {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 28px;
  background-image: url(/images/vcard21-blog-bg.png?db742e3d42575b103ba05037dfa233d2);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}
.blog-section .blog-slider .blog-card .card-body .blog-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 38px;
  font-size: 16px;
  margin-bottom: 0 !important;
  line-height: 1.2;
  max-height: 38px;
}
.blog-section .blog-slider .blog-card .card-body .blog-head {
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
  min-height: 48px;
  overflow: hidden;
  font-size: 20px;
}
.blog-section .blog-slider .blog-card .card-body .read-more {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 4px 8px;
}

.business-hour-section {
  position: relative;
}
.business-hour-section .business-hour-card .business-box {
  background: linear-gradient(88deg, #f5c5c1, #eed3ee, #ecd6e0, #f6e2c6);
  padding: 10px;
  border-radius: 15px;
}
.business-hour-section .business-hour-card .business-hour-icon {
  width: 45px;
  min-width: 45px;
  height: 45px;
  border-radius: 63% 37% 63% 37%/36% 62% 38% 64%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6228d7;
}
.business-hour-section .business-hour-card .business-hour {
  padding: 1px;
  border-radius: 15px;
  background: linear-gradient(170deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
  position: relative;
  gap: 10px !important;
  overflow: hidden;
}
.business-hour-section .business-hour-card .business-hour span {
  font-size: 13px;
}
@media (max-width: 575px) {
  .business-hour-section .business-hour-card .business-hour span {
    font-size: 14px;
  }
}

.qr-code-section {
  position: relative;
}
.qr-code-section .card-wrapper {
  position: relative;
  padding: 1px;
  border-radius: 20px;
  overflow: hidden;
  max-width: 540px;
  margin: 0 auto;
}
.qr-code-section .card-wrapper::before {
  content: "";
  position: absolute;
  top: -115%;
  left: -40%;
  width: 180%;
  height: 360%;
  background: linear-gradient(170deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 50% 100%;
  animation: border-animation 4s linear infinite;
  pointer-events: none;
}
.qr-code-section .qr-code {
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  background-color: #ffffff;
  position: relative;
}
.qr-code-section .qr-code .qr-code-img {
  width: 130px;
  height: 130px;
  min-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background-color: #ffffff;
  border-radius: 63% 37% 63% 37%/36% 62% 38% 64%;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
  transition: 0.3s all ease-in-out;
}
.qr-code-section .qr-code .qr-code-img svg,
.qr-code-section .qr-code .qr-code-img img {
  border-radius: 63% 37% 63% 37%/36% 62% 38% 64%;
  width: 100%;
  height: 100%;
}

.contact-us-section {
  position: relative;
}
.contact-us-section .contact-form {
  padding: 1px;
  border-radius: 15px;
  background: linear-gradient(170deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
  position: relative;
}
.contact-us-section .contact-form form {
  border-radius: 15px;
  background: linear-gradient(88deg, #f5c5c1, #eed3ee, #ecd6e0, #f6e2c6);
  padding: 15px;
}
.contact-us-section .contact-form form .form-control {
  width: 100%;
  height: 50px;
  padding: 12px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: none !important;
  border: 1px solid #6228d7 !important;
  color: #6228d7;
}
.contact-us-section .contact-form form .form-control::-moz-placeholder {
  color: #6228d7;
}
.contact-us-section .contact-form form .form-control::placeholder {
  color: #6228d7;
}
.contact-us-section .contact-form form .form-control:focus {
  box-shadow: none;
  outline: none;
}

.create-vcard-section {
  position: relative;
}
.create-vcard-section .card-wrapper {
  position: relative;
  padding: 1px;
  border-radius: 15px;
  overflow: hidden;
}
.create-vcard-section .card-wrapper::before {
  content: "";
  position: absolute;
  top: -340%;
  left: -40%;
  width: 180%;
  height: 700px;
  background: linear-gradient(170deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 50% 100%;
  animation: border-animation 4s linear infinite;
  pointer-events: none;
}
.create-vcard-section .vcard-link-card {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 15px;
  position: relative;
}
.create-vcard-section .vcard-link-card .link-text {
  font-size: 18px;
  word-break: break-all;
}
@media (max-width: 575px) {
  .create-vcard-section .vcard-link-card .link-text {
    font-size: 16px;
  }
}

.add-to-contact-section {
  position: fixed;
  width: 100%;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.btn-section .fixed-btn-section .social-media-bars-btn {
  background-color: #6228d7;
}
.btn-section .fixed-btn-section .sub-btn .social-media-sub-btn {
  background-color: #ffffff;
  border: 1px solid #6228d7;
}
.btn-section .fixed-btn-section .sub-btn .social-media-sub-btn i {
  color: #6228d7;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 575px) {
  .px-30 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}
@media (max-width: 575px) {
  .fs-18 {
    font-size: 16px;
  }
}

.fs-20 {
  font-size: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-40 {
  margin-top: 40px;
}
@media (max-width: 575px) {
  .mt-40 {
    margin-top: 30px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 575px) {
  .mb-40 {
    margin-bottom: 30px;
  }
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}
@media (max-width: 575px) {
  .mx-30 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pb-50 {
  padding-bottom: 50px;
}
@media (max-width: 575px) {
  .pb-50 {
    padding-bottom: 40px;
  }
}

.pt-40 {
  padding-top: 40px;
}
@media (max-width: 575px) {
  .pt-40 {
    padding-top: 25px;
  }
}

.pb-40 {
  padding-bottom: 40px;
}
@media (max-width: 575px) {
  .pb-40 {
    padding-bottom: 25px;
  }
}

.pt-60 {
  padding-top: 60px;
}
@media (max-width: 575px) {
  .pt-60 {
    padding-top: 40px;
  }
}

.pb-60 {
  padding-bottom: 60px;
}
@media (max-width: 575px) {
  .pb-60 {
    padding-bottom: 40px;
  }
}

.pt-30 {
  padding-top: 30px;
}
@media (max-width: 575px) {
  .pt-30 {
    padding-top: 20px;
  }
}

.pb-30 {
  padding-bottom: 30px;
}
@media (max-width: 575px) {
  .pb-30 {
    padding-bottom: 20px;
  }
}

.pt-50 {
  padding-top: 50px;
}
@media (max-width: 575px) {
  .pt-50 {
    padding-top: 40px;
  }
}

.pt-80 {
  padding-top: 80px;
}
@media (max-width: 575px) {
  .pt-80 {
    padding-top: 40px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}
@media (max-width: 575px) {
  .pb-80 {
    padding-bottom: 40px;
  }
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fs-12 {
  font-size: 12px;
}

.fs-36 {
  font-size: 36px;
}
@media (max-width: 575px) {
  .fs-36 {
    font-size: 30px;
  }
}

.fs-30 {
  font-size: 30px;
}
@media (max-width: 575px) {
  .fs-30 {
    font-size: 28px;
  }
}

.fs-28 {
  font-size: 28px;
}
@media (max-width: 575px) {
  .fs-28 {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
}

.main-content {
  max-width: 576px;
  min-height: 100vh;
  border-radius: 15px;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-1 {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-section {
  position: absolute;
  top: 50%;
  right: 80px;
  z-index: 9;
}
.btn-section .fixed-btn-section {
  position: fixed;
  top: 50%;
  display: flex;
  align-items: center;
}
.btn-section .fixed-btn-section .bars-btn {
  width: 65px;
  height: 65px;
  min-width: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-section .fixed-btn-section .sub-btn {
  position: absolute;
  right: 75px;
  display: none;
}
.btn-section .fixed-btn-section .sub-btn .social-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-section .fixed-btn-section .sub-btn .social-btn i {
  font-size: 24px;
}

.language ul {
  list-style: none;
}
.language ul .lang-list {
  padding: 3px 9px;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  border: none;
  outline: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  animation: gradient-animation 4s ease infinite;
  background-size: 240% 240%;
}
.language ul .lang-list .lang-head {
  color: #ffffff;
}
.language ul .lang-list .lang-head i {
  color: #ffffff;
}
.language ul .lang-list .lang-hover-list {
  margin: 15px 0 0;
  font-size: 14px;
  width: 100%;
  right: 0;
  min-width: 70px;
}
.language ul .lang-list .lang-hover-list li {
  padding: 4px 10px;
}
.language ul .lang-list .lang-hover-list li:hover, .language ul .lang-list .lang-hover-list li.active {
  background-color: #fbd6d7 !important;
}
.language ul .lang-list .lang-hover-list li:hover a, .language ul .lang-list .lang-hover-list li.active a {
  color: #6228d7 !important;
}
.language ul .lang-list .lang-hover-list li a {
  color: #5e6278 !important;
  text-decoration: none;
  font-size: 14px !important;
}
.language ul .lang-list .lang-hover-list li img {
  height: 14px !important;
  width: 18px !important;
}

.add-contact-btn {
  z-index: 9;
}
.add-contact-btn i {
  font-size: 1rem;
}
.add-contact-btn:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in;
  color: #ffffff !important;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7) !important;
  border: 1px solid transparent !important;
}

.vcard21-sticky-btn {
  background: #6228d7;
  color: #6228d7;
  border: 1px solid #6228d7;
  border-radius: 5px;
  height: 40px;
}

.vcard21-btn-group {
  width: 50px;
  height: 50px;
  color: #6228d7;
  background-color: #ffffff;
  border-radius: 50px !important;
}

.modal-backdrop {
  background-color: transparent !important;
}

.activeSlot {
  background-color: #6228d7 !important;
  color: #f5f2fb !important;
  cursor: pointer;
}

.time-slot {
  font-size: 14px;
  padding: 13px 16px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: none !important;
  border: 1px solid #6228d7;
  color: #6228d7;
}
.time-slot:hover, .time-slot.activeSlot {
  background-color: #6228d7 !important;
  color: white !important;
}

.vcard-twentyone.main-content {
  position: relative;
  background-size: cover;
  max-width: 670px !important;
  min-height: calc(100vh - 8px) !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  border-radius: 15px !important;
  background-color: #ffffff !important;
}
.vcard-twentyone .vcard-twentyone-heading {
  font-weight: 500;
  font-size: 28px;
  color: #6228d7 !important;
}

.vcard-twentyone-btn {
  color: white;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  animation: gradient-animation 4s ease infinite;
  transition: 0.3s all ease-in-out;
  box-shadow: none !important;
  border: 1px solid white;
  border-radius: 10px !important;
  padding: 10px 20px !important;
  background-size: 240% 240%;
}
.vcard-twentyone-btn:hover, .vcard-twentyone-btn:focus, .vcard-twentyone-btn.active {
  color: #6228d7;
  background: white;
  border: 1px solid #6228d7;
  transition: 0.3s all ease-in-out;
}

.slick-dotted.slick-slider {
  margin-bottom: 10px;
}

.slick-dots {
  bottom: -25px !important;
  width: 100% !important;
}
.slick-dots li {
  width: 10px !important;
  height: 10px !important;
  margin: 0 5px !important;
}
.slick-dots li.slick-active {
  width: 30px !important;
}
.slick-dots li.slick-active button {
  width: 30px !important;
  border-radius: 10px;
  background-color: #6228d7 !important;
  opacity: 1 !important;
}
.slick-dots li button {
  width: 10px !important;
  height: 10px !important;
  padding: 0 !important;
  background-color: #887e96 !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5 !important;
}
.slick-dots li button::before {
  content: none !important;
}

.product-heading {
  font-size: 28px !important;
}

.back-btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #6228d7;
  color: #f1faff;
  border-radius: 10px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}

.audio-control {
  margin-top: -20px !important;
}
@media (max-width: 580px) {
  .audio-control {
    margin-top: -20px !important;
  }
}

.modal-backdrop {
  background-color: transparent;
}

.modal {
  z-index: 99999 !important;
  background-color: #00000080;
}
.modal .news-modal #newsLatter-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.475rem;
  outline: 0;
  background-color: #212020;
}
.modal .news-modal #newsLatter-content .form-control {
  padding: 0.375rem 0.75rem !important;
  font-size: 0.875rem !important;
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content .newsmodal-header .btn-close {
  background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ADB5BD'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
  position: absolute !important;
  right: 16px !important;
  top: 16px !important;
  z-index: 1 !important;
}
.modal .news-modal #newsLatter-content .newsmodal-header .newsmodal-title {
  font-size: 50px;
  text-align: center !important;
  color: #6228d7;
}
.modal .news-modal #newsLatter-content .modal-body {
  padding: 1.75rem;
}
.modal .news-modal #newsLatter-content .modal-body .content {
  color: #6228d7;
  font-size: 23px;
}
.modal .news-modal #newsLatter-content .modal-body .modal-desc {
  color: silver;
  font-size: 16px;
  font-weight: 400;
}
.modal .news-modal #newsLatter-content .modal-body .email-input {
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content .modal-body .email-input .btn {
  padding: 5px 10px !important;
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content .modal-body .required:after {
  color: #f62947;
  content: "*";
  font-size: inherit;
  font-weight: 700;
  position: relative;
}
.modal .news-modal #newsLatter-content .modal-body .input-box {
  background-color: #f5f8fa;
  border: unset;
  color: #5e6278;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border-radius: 0.475rem;
}
.modal .news-modal #newsLatter-content .modal-body .input-box:focus {
  box-shadow: unset;
  background-color: #eef3f7;
}
.modal .news-modal #newsLatter-content .modal-body .input-group {
  background: black;
  border: none;
}
.modal .news-modal #newsLatter-content .modal-footer {
  padding: 1.875rem;
  border-top: none !important;
}
.modal .news-modal #newsLatter-content .modal-footer .btn {
  padding: 10px 20px !important;
  border-radius: 0.475rem !important;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn {
  background-color: #6571ff !important;
  border: unset;
  outline: unset;
  color: #ffffff;
  padding: 10px 20px !important;
  margin-top: 26px;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn:hover {
  background-color: #6571ff !important;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn:focus {
  box-shadow: unset;
}

#email-send {
  background-color: #6228d7;
  color: white !important;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  font-weight: 500 !important;
}

@media (min-width: 576px) {
  #newsLatterModal .modal-dialog {
    max-width: 420px !important;
    min-height: calc(100% - 5rem) !important;
    transform: none !important;
  }
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
.insta-feed {
  max-height: 1000px !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

.insta-feed::-webkit-scrollbar {
  width: 0px;
}

.insta-feed::-webkit-scrollbar-thumb {
  background-color: #f1faff !important;
}

.insta-feed::-webkit-scrollbar-track {
  background-color: #f1faff !important;
}

.insta-feed-iframe iframe {
  border-radius: 15px !important;
  border: none !important;
}

.instagram-btn {
  flex: 1;
  position: relative;
  background: transparent;
}
.instagram-btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  background-color: #6228d7;
  transition: width 0.3s ease;
}
.instagram-btn.active::before {
  width: 80%;
}
.instagram-btn .svg-post-icon rect,
.instagram-btn .svg-post-icon line {
  stroke: #6228d7;
}
.instagram-btn.active .svg-post-icon rect, .instagram-btn.active .svg-post-icon line {
  fill: #6228d7;
  stroke: #ffffff;
}
.instagram-btn .svg-reels-icon .not-active-svg {
  display: block;
}
.instagram-btn .svg-reels-icon .active-svg {
  display: none;
}
.instagram-btn .svg-reels-icon path.not-active-svg,
.instagram-btn .svg-reels-icon rect {
  fill: #6228d7;
}
.instagram-btn .svg-reels-icon path {
  fill: #6228d7;
}
.instagram-btn.active .svg-reels-icon .not-active-svg, .instagram-btn.active .svg-reels-icon rect {
  display: none;
}
.instagram-btn.active .svg-reels-icon .active-svg {
  display: block;
}

.insta-toggle {
  border-radius: 35px !important;
  transition: all 0.3s ease !important;
}

#instafeed-container a img {
  width: 44%;
  height: 200px !important;
  margin: 11px;
  border-radius: 15px;
}

.instagram-feed-section .card-wrapper {
  position: relative;
  padding: 1px;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
}
.instagram-feed-section .card-wrapper .instagram-media {
  min-width: 50% !important;
  max-width: 100% !important;
  border-radius: 20px !important;
  border: none;
  box-shadow: none !important;
  position: relative;
  width: 100% !important;
  margin-bottom: 0 !important;
}

.support-banner-section {
  max-width: 606px;
  margin-left: 32px;
  margin-right: 32px;
  position: fixed;
  bottom: 20px;
  z-index: 99999 !important;
}
@media (max-width: 575px) {
  .support-banner-section {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.support-banner-section .card-wrapper {
  position: relative;
  padding: 1px;
  border-radius: 20px;
  overflow: hidden;
}
.support-banner-section .card-wrapper::before {
  content: "";
  position: absolute;
  top: -95%;
  left: -35%;
  width: 170%;
  height: 660px;
  background: linear-gradient(170deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 50% 100%;
  animation: border-animation 4s linear infinite;
  pointer-events: none;
}
.support-banner-section .card-wrapper .support-banner {
  width: 100%;
  max-width: 100%;
  height: auto !important;
  position: relative;
  background: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: none;
  color: white;
}
.support-banner-section .card-wrapper .support-banner .support_heading {
  font-size: 27px;
  margin-top: 30px;
}
.support-banner-section .card-wrapper .support-banner .support_text {
  margin-bottom: 22px;
  max-height: 123px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 13px;
}
.support-banner-section .card-wrapper .support-banner .support_text::-webkit-scrollbar {
  width: 4px;
}
.support-banner-section .card-wrapper .support-banner .support_text::-webkit-scrollbar-track {
  background: transparent;
}
.support-banner-section .card-wrapper .support-banner .support_text::-webkit-scrollbar-thumb {
  background: #888;
}

@media (max-width: 767px) {
  .support-banner-section {
    max-width: 476px !important;
  }
}
@media (max-width: 575px) {
  .support-banner-section {
    max-width: 100% !important;
  }
}
.banner-close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 20px !important;
  background: none;
  border: none;
}

.iframe-slider .slick-slide {
  padding: 0 10px;
}
.iframe-slider .card-wrapper {
  height: 365px;
  position: relative;
  padding: 1px;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 575px) {
  .iframe-slider .card-wrapper {
    max-height: 250px;
    height: 250px;
  }
}
.iframe-slider .card-wrapper::before {
  content: "";
  position: absolute;
  top: -45%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 50% 100%;
  animation: border-animation 4s linear infinite;
  pointer-events: none;
}
.iframe-slider .iframe-card {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #ffffff;
}

.verification-icon {
  color: #6228d7;
}

.map-section {
  border: 1px solid #6228d7;
  border-radius: 15px;
  overflow: hidden;
  background-color: #ffffff;
}
.map-section .map-location {
  padding: 10px;
  background: linear-gradient(88deg, #f5c5c1, #eed3ee, #ecd6e0, #f6e2c6);
  transition: 0.3s all ease-in-out;
}
.map-section .map-location .location-icon {
  background-color: white;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 63% 37%/36% 62% 38% 64%;
}
.map-section .map-location .location-icon img {
  width: 18px;
}
.map-section iframe {
  border-radius: 0 !important;
  overflow: hidden;
  margin-bottom: -6px;
}

.main-content.rtl .main-bg-vcard21 {
  transform: scaleX(-1);
}
.main-content.rtl .calendar-icon {
  left: 18px;
  right: auto;
}
.main-content.rtl .lang-hover-list {
  right: auto;
  left: 0;
}
.main-content.rtl .expand-icon {
  left: 10px;
  right: auto;
}

.btn-section.rtl {
  right: auto !important;
  left: 15px !important;
}

.modal-content[dir=rtl] .pl-50 {
  padding-right: 50px;
}
.modal-content[dir=rtl] .text-center {
  text-align: start !important;
}
.modal-content[dir=rtl] .arrow {
  transform: rotate(180deg) !important;
}
.modal-content[dir=rtl] .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0.313rem !important;
  border-bottom-right-radius: 0.313rem !important;
}
.modal-content[dir=rtl] .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0.313rem !important;
  border-bottom-left-radius: 0.313rem !important;
}

.slick-prev:before {
  color: black !important;
}

.slick-next:before {
  color: black !important;
}

.toast-title {
  margin-right: 12px;
}

.toast-message {
  margin-right: 12px;
}

.input-box {
  padding: 13px;
  display: grid;
  place-items: center;
  border: 1px solid #6228d7 !important;
  border-radius: 8px !important;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #ffffff;
}

.input-box h4 {
  margin: 0;
  color: #6228d7 !important;
  font-size: 16px !important;
}

.file-list li {
  color: #887d96 !important;
}

.selected-files .item {
  border: 1px solid #887d96 !important;
  border-radius: 8px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #ffffff;
}

.file-list .name {
  flex-grow: 1;
}

.file-list .remove {
  margin-left: 8px;
  cursor: pointer;
  color: red;
}

.file-list .remove svg {
  width: 16px;
  height: 16px;
}

.selected-files .item .name {
  color: #9da5ae !important;
}

.selected-files h5 {
  color: #6228d7 !important;
  font-size: medium !important;
  margin-top: 9px !important;
  margin-bottom: 10px !important;
}

small {
  font-size: 12px;
  color: #887d96 !important;
  font-weight: 600 !important;
}

.file-list {
  overflow-y: auto;
  list-style-type: none !important;
  padding: 0 0 10px 0;
  margin: 0;
  max-height: 220px;
  font-size: medium !important;
}

.modal {
  padding-right: 0 !important;
}
.modal.show {
  padding-right: 0 !important;
}
.modal.show .modal-dialog {
  transform: translateY(35px) !important;
}
@media (min-width: 576px) {
  .modal.show .modal-dialog {
    margin: 2.5rem auto !important;
    max-width: 520px !important;
  }
}
.modal .modal-dialog {
  transform: translateY(95px) !important;
}
.modal .modal-dialog.modal-bottom {
  height: 87vh !important;
}

.pwa-support {
  max-width: 400px;
  height: auto !important;
  position: fixed !important;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 20px;
  z-index: 99999 !important;
}
.pwa-support .card-wrapper {
  position: relative;
  padding: 1px;
  border-radius: 20px;
  overflow: hidden;
}
.pwa-support .card-wrapper::before {
  content: "";
  position: absolute;
  top: -95%;
  left: -35%;
  width: 170%;
  height: 660px;
  background: linear-gradient(170deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 50% 100%;
  animation: border-animation 4s linear infinite;
  pointer-events: none;
}
.pwa-support .card-wrapper .pwa-support-content {
  width: 100%;
  position: relative;
  background: #ffffff;
  padding: 24px;
  border-radius: 20px;
  box-shadow: none;
}
.pwa-support .card-wrapper .pwa-support-content .pwa-heading {
  font-size: 20px;
  margin-bottom: 12px;
}
.pwa-support .card-wrapper .pwa-support-content .pwa-text {
  margin-bottom: 16px;
  font-size: 0.875rem !important;
}
.pwa-support .card-wrapper .pwa-install-button {
  border-radius: 10px !important;
  padding: 0.563rem 1.563rem !important;
  font-weight: 400 !important;
  font-size: 0.875rem !important;
}
.pwa-support .card-wrapper .pwa-cancel-button {
  background-color: #adb5bd !important;
  color: #000000;
  border-radius: 10px !important;
  padding: 0.563rem 1.563rem;
  border: none !important;
  font-weight: 400 !important;
  font-size: 0.875rem !important;
}
.pwa-support .card-wrapper .pwa-cancel-button:hover {
  background-color: #d1d5db !important;
  border: none !important;
  color: #000000 !important;
}

.youtube-link-21 {
  padding-top: 56.25%;
  position: relative;
}
.youtube-link-21 iframe {
  position: absolute !important;
  top: 0;
  left: 0 !important;
  height: 100% !important;
  width: 100 !important;
}

.fs-24 {
  font-size: 24px;
}
@media (max-width: 576px) {
  .fs-24 {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .vector-all .w-100 {
    width: 75% !important;
  }
}

.vector-1 {
  left: -18px;
  top: 0;
  width: 80px;
  transform: rotate(62deg);
}

.vector-2 {
  top: 5px;
  right: 5px;
  width: 60px;
  text-align: end;
}

.vector-3 {
  left: 15px;
  top: 15px;
}

.vector-4 {
  top: 5px;
  right: 5px;
  width: 80px;
  text-align: end;
}

.vector-5 {
  top: 15px;
  left: 5px;
  width: 55px;
}

.vector-6 {
  top: 5px;
  right: 5px;
  width: 60px;
  text-align: end;
}

.vector-7 {
  left: 5px;
  top: 5px;
}

.vector-8 {
  top: 5px;
  right: 5px;
  width: 60px;
  text-align: end;
}

.vector-9 {
  width: 55px;
  left: 5px;
  top: 15px;
}

.vector-10 {
  top: 5px;
  right: 5px;
  width: 60px;
  text-align: end;
}

.vector-11 {
  left: 5px;
  top: 5px;
  width: 60px;
}

.vector-12 {
  top: 15px;
  right: 5px;
  width: 100px;
  text-align: end;
}

.vector-13 {
  left: 5px;
  top: 5px;
}

.vector-14 {
  top: 16px;
  right: 5px;
  width: 55px;
  text-align: end;
}

.vector-15 {
  left: 5px;
  top: 5px;
  width: 40px;
}

.row-gap-20px {
  row-gap: 20px;
}

.terms-condition {
  min-width: 16px !important;
  margin-top: 0 !important;
}

.card-back {
  position: relative;
  overflow: hidden;
  color: white !important;
}
.card-back::after {
  position: absolute;
  content: "";
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7) !important;
  background-size: 50% 100%;
  animation: border-animation 4s linear infinite;
  top: -50%;
  left: -25%;
  width: 200%;
  height: 250%;
  pointer-events: none;
}
.card-back .px-3 {
  position: relative;
  z-index: 1;
}
.card-back .h2, .card-back h2, .card-back .h1, .card-back h1 {
  color: white !important;
}

.vcard-one__product .product-border {
  position: relative;
  overflow: hidden;
  padding: 1px !important;
  border-radius: 15px;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
  transition: 0.3s all ease-in-out;
}
.vcard-one__product .product-card {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 15px;
}
.vcard-one__product .product-card .product-img-slider {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 0px !important;
  padding-bottom: 30px;
}
.vcard-one__product .product-card .product-img-slider .slick-list {
  padding: 0 !important;
}
.vcard-one__product .product-card .product-img-slider .slick-slide {
  padding: 0 10px !important;
  margin: 0 !important;
  width: 100%;
}
.vcard-one__product .product-card .product-img-slider .slick-dots {
  bottom: 10px !important;
}
.vcard-one__product .product-card .product-img-slider .product-img-height {
  max-height: 208px;
  aspect-ratio: 2.76;
  border-radius: 10px;
}
.vcard-one__product .product-card .product-img-slider .product-img-height img {
  aspect-ratio: 2.76;
  border-radius: 10px;
}

.linkedin-feed {
  max-height: 1000px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.linkedin-feed-iframe {
  height: 500px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.linkedin-feed-iframe iframe {
  width: calc(100% - 1px) !important;
  height: 498px !important;
  border: none;
  transform-origin: top left;
  transform: scale(1);
  border-radius: 20px;
  padding: 1px;
  background: white;
}

.linkedin-feed-iframe {
  position: relative;
  padding: 1px 0 1px 1px;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
}
